In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
import pandas as pd

In [ ]:
usernames = pd.read_csv("/content/drive/MyDrive/FACT/usernames.txt", header=None)

# Merge Twitter and Names

In [ ]:
usernames.rename(columns={0: 'twitter'}, inplace=True)

In [ ]:
usernames.head()

           twitter
0   SenatorBaldwin
1  SenJohnBarrasso
2    SenatorBennet
3  MarshaBlackburn
4    SenBlumenthal

In [ ]:
match_info = pd.read_csv("/content/drive/MyDrive/FACT/fuck.csv", header=None)

In [ ]:
match_info.columns = ["first_name", "last_name", "oldtwitter", "district", "party", "twitter"]

In [ ]:
match_info = match_info.drop("oldtwitter", axis=1)

In [ ]:
match_info.head()

  first_name last_name district party          twitter
0       Alma     Adams     NC12     D         RepAdams
1     Robert  Aderholt     AL04     R  Robert_Aderholt
2       Pete   Aguilar     CA31     D   RepPeteAguilar
3       Mark    Alford     MO04     R    RepMarkAlford
4       Rick     Allen     GA12     R     RepRickAllen

In [ ]:
usernames["FullTwitter"] = usernames["twitter"]

In [ ]:
usernames.head()

           twitter      FullTwitter
0   SenatorBaldwin   SenatorBaldwin
1  SenJohnBarrasso  SenJohnBarrasso
2    SenatorBennet    SenatorBennet
3  MarshaBlackburn  MarshaBlackburn
4    SenBlumenthal    SenBlumenthal

In [ ]:
def standardize_tweet(name):
    # First, check if 'name' is a string
    if isinstance(name, str):
        name = name.lower()
        name = name.replace('.', '')
        name = name.replace('_', '')
        name = name.replace(' ', '')
        # Remove leading and trailing whitespace
        name = name.strip()
        # Replace multiple spaces with a single space
        name = ' '.join(name.split())
    else:
        # If 'name' is not a string (e.g., NaN), return it as is
        return name
    return name

In [ ]:
#usernames["twitter"] = usernames["twitter"].apply(standardize_tweet)

In [ ]:
#match_info["twitter"] = match_info["twitter"].apply(standardize_tweet)

In [ ]:
n_t = pd.merge(usernames, match_info, how="left", on="twitter")

In [ ]:
len(n_t)

475

In [ ]:
len(usernames)

475

In [ ]:
n_t.head()

           twitter      FullTwitter first_name last_name district party
0   SenatorBaldwin   SenatorBaldwin        NaN       NaN      NaN   NaN
1  SenJohnBarrasso  SenJohnBarrasso        NaN       NaN      NaN   NaN
2    SenatorBennet    SenatorBennet        NaN       NaN      NaN   NaN
3  MarshaBlackburn  MarshaBlackburn        NaN       NaN      NaN   NaN
4    SenBlumenthal    SenBlumenthal        NaN       NaN      NaN   NaN

In [ ]:
non_nan_rows = n_t[n_t.notna().all(axis=1)]
print(len(non_nan_rows))

308

In [ ]:
# Count the rows that have duplicate values in 'column_name'
duplicate_count = n_t[n_t.duplicated(subset=['first_name'], keep=False)].shape[0]
print(duplicate_count)

303

In [ ]:
sen_twit = pd.read_excel("/content/drive/MyDrive/FACT/data.xlsx")

In [ ]:
sen_twit.head()

  Unnamed: 0              Unnamed: 1       Unnamed: 2
0    TABLE 1                     NaN              NaN
1        NaN                     NaN              NaN
2      State                  Member   Twitter Handle
3         AK  Senator Lisa Murkowski   @lisamurkowski
4         AK    Senator Dan Sullivan  @SenDanSullivan

In [ ]:
sen_twit.columns = ["state", "name", "twitter"]

In [ ]:
 #Drop the first 3 rows
sen_twit = sen_twit.drop(sen_twit.index[:3])

In [ ]:
sen_twit.head()

  state                       name           twitter
3    AK     Senator Lisa Murkowski    @lisamurkowski
4    AK       Senator Dan Sullivan   @SenDanSullivan
5    AL      Senator Jeff Sessions  @SenatorSessions
6    AL  Senator Richard C. Shelby        @SenShelby
7    AR       Senator John Boozman      @JohnBoozman

In [ ]:
sen_twit["twitter"] = sen_twit["twitter"].str.replace("@", "")

In [ ]:
sen_twit['name'] = sen_twit['name'].str.replace("Senator ", "")

In [ ]:
n_t = pd.merge(n_t, sen_twit, on="twitter", how="left")

In [ ]:
n_t.head()

,twitter,FullTwitter,first_name,last_name,district,party,state,name
0,SenatorBaldwin,SenatorBaldwin,NaN,NaN,NaN,NaN,WI,Tammy Baldwin
1,SenJohnBarrasso,SenJohnBarrasso,NaN,NaN,NaN,NaN,WY,John A. Barrasso
2,SenatorBennet,SenatorBennet,NaN,NaN,NaN,NaN,NaN,NaN
3,MarshaBlackburn,MarshaBlackburn,NaN,NaN,NaN,NaN,NaN,NaN
4,SenBlumenthal,SenBlumenthal,NaN,NaN,NaN,NaN,CT,Richard Blumenthal

In [ ]:
len(n_t)

475

In [ ]:
n_t.to_csv("/content/drive/MyDrive/FACT/names_twitter.csv")

# Merge Twitter Names, Twitter Names + Bioguide_ID

In [ ]:
social_media = pd.read_csv("/content/drive/MyDrive/FACT/legislators-social-media.csv")

In [ ]:
social_media.head()

,bioguide,facebook,facebook_id,govtrack,instagram,instagram_id,thomas,twitter,twitter_id,youtube,youtube_id
0,R000600,congresswomanaumuaamata,1.537156e+15,412664.0,NaN,NaN,2222.0,RepAmata,3.026623e+09,NaN,UCGdrLQbt1PYDTPsampx4t1A
1,Y000064,RepToddYoung,1.862038e+14,412428.0,NaN,NaN,2019.0,RepToddYoung,2.341285e+08,RepToddYoung,UCuknj4PGn91gHDNAfboZEgQ
2,E000295,senjoniernst,3.516717e+14,412667.0,senjoniernst,1.582703e+09,2283.0,SenJoniErnst,2.856788e+09,NaN,UCLwrmtF_84FIcK3TyMs4MIw
3,T000476,SenatorThomTillis,1.576257e+15,412668.0,NaN,NaN,2291.0,senthomtillis,2.964175e+09,NaN,UCUD9VGV4SSGWjGdbn37Ea2w
4,Y000063,CongressmanKevinYoder,1.540267e+14,412430.0,NaN,NaN,2021.0,RepKevinYoder,2.528196e+08,RepYoder,UCCeYmn4A8kZEHCcAfeUW9lQ

In [ ]:
social_media.columns

Index(['bioguide', 'facebook', 'facebook_id', 'govtrack', 'instagram',
       'instagram_id', 'thomas', 'twitter', 'twitter_id', 'youtube',
       'youtube_id'],
      dtype='object')

In [ ]:
# getting rid of non-twitter information
social_media = social_media.drop([  'facebook', 'facebook_id', 'govtrack', 'instagram',
       'instagram_id', 'thomas',  'twitter_id', 'youtube',
       'youtube_id'], axis=1)

In [ ]:
social_media = social_media.rename(columns = {"bioguide":'bioguide_id'})

In [ ]:
# social_media["twitter"] = social_media["twitter"].apply(standardize_tweet)
# social_media["instagram"] = social_media["instagram"].apply(standardize_tweet)
# social_media["youtube"] = social_media["youtube"].apply(standardize_tweet)

In [ ]:
all_sm = pd.merge(n_t, social_media, how="left", on="twitter")

In [ ]:
all_sm.head()

,twitter,FullTwitter,first_name,last_name,district,party,state,name,bioguide_id
0,SenatorBaldwin,SenatorBaldwin,NaN,NaN,NaN,NaN,WI,Tammy Baldwin,B001230
1,SenJohnBarrasso,SenJohnBarrasso,NaN,NaN,NaN,NaN,WY,John A. Barrasso,B001261
2,SenatorBennet,SenatorBennet,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MarshaBlackburn,MarshaBlackburn,NaN,NaN,NaN,NaN,NaN,NaN,B001243
4,SenBlumenthal,SenBlumenthal,NaN,NaN,NaN,NaN,CT,Richard Blumenthal,B001277

In [ ]:
# Count the rows that have duplicate values in 'column_name'
duplicate_count = all_sm[all_sm.duplicated(subset=['twitter'], keep=False)].shape[0]
print(duplicate_count)

0

In [ ]:
all_sm.to_csv("/content/drive/MyDrive/FACT/socialmedia.csv")

# Merge Twitter Names and Bios

In [ ]:
def cleanse_duplicate_columns(bio_sm):
    # For each pair of '_x' and '_y' columns, merge them
    for column in bio_sm.columns:
        if column.endswith('_x'):
            column_y = column[:-2] + '_y'  # Change the suffix to '_y'
            if column_y in bio_sm.columns:  # Check if the corresponding '_y' column exists
                bio_sm[column] = bio_sm[column].combine_first(bio_sm[column_y])
                bio_sm = bio_sm.drop(column_y, axis=1)  # Drop the '_y' column after merging

    # Remove the '_x' suffix from column names
    bio_sm.columns = [col[:-2] if col.endswith('_x') else col for col in bio_sm.columns]
    return bio_sm

In [ ]:
bio = pd.read_csv("/content/drive/MyDrive/FACT/legislators-current.csv")

In [ ]:
bio.head()

,ballotpedia_id,bioguide_id,birthday_bio,cspan_id,fec_id,first_name,gender_bio,google_entity_id_id,govtrack_id,house_history_id,...,middle_name,nickname_name,official_full_name,opensecrets_id,religion_bio,suffix_name,thomas_id,votesmart_id,wikidata_id,wikipedia_id
0,Sherrod Brown,B000944,1952-11-09,5051.0,"['H2OH13033', 'S6OH00163']",Sherrod,M,kg:/m/034s80,400050,9996.0,...,NaN,NaN,Sherrod Brown,N00003535,Lutheran,NaN,136.0,27018.0,Q381880,Sherrod Brown
1,Maria Cantwell,C000127,1958-10-13,26137.0,"['S8WA00194', 'H2WA01054']",Maria,F,kg:/m/01x68t,300018,10608.0,...,NaN,NaN,Maria Cantwell,N00007836,Roman Catholic,NaN,172.0,27122.0,Q22250,Maria Cantwell
2,Ben Cardin,C000141,1943-10-05,4004.0,"['H6MD03177', 'S6MD03177']",Benjamin,M,kg:/m/025k3k,400064,10629.0,...,L.,NaN,Benjamin L. Cardin,N00001955,Jewish,NaN,174.0,26888.0,Q723295,Ben Cardin
3,Tom Carper,C000174,1947-01-23,663.0,['S8DE00079'],Thomas,M,kg:/m/01xw7t,300019,10671.0,...,Richard,NaN,Thomas R. Carper,N00012508,Presbyterian,NaN,179.0,22421.0,Q457432,Tom Carper
4,"Bob Casey, Jr.",C001070,1960-04-13,47036.0,['S6PA00217'],Robert,M,kg:/m/047ymw,412246,NaN,...,P.,Bob,"Robert P. Casey, Jr.",N00027503,NaN,Jr.,1828.0,2541.0,Q887841,Bob Casey Jr.

In [ ]:
print(bio.columns)

Index(['ballotpedia_id', 'bioguide_id', 'birthday_bio', 'cspan_id', 'fec_id',
       'first_name', 'gender_bio', 'google_entity_id_id', 'govtrack_id',
       'house_history_id', 'icpsr_id', 'last_name', 'lis_id', 'maplight_id',
       'middle_name', 'nickname_name', 'official_full_name', 'opensecrets_id',
       'religion_bio', 'suffix_name', 'thomas_id', 'votesmart_id',
       'wikidata_id', 'wikipedia_id'],
      dtype='object')

In [ ]:
bio = bio.drop([ 'cspan_id', 'fec_id', 'google_entity_id_id', 'govtrack_id',
                'house_history_id', 'icpsr_id', 'lis_id', 'maplight_id',
                 'middle_name', 'nickname_name', 'opensecrets_id', 'suffix_name',
                 'thomas_id', 'votesmart_id',
       'wikidata_id'] , axis=1)

In [ ]:
bio_sm = pd.merge(all_sm, bio, how="left", on="bioguide_id")

In [ ]:
bio_sm.head()

,twitter,FullTwitter,first_name_x,last_name_x,district,party,state,name_x,bioguide_id,ballotpedia_id,birthday_bio,first_name_y,gender_bio,last_name_y,official_full_name,religion_bio,wikipedia_id,name_y
0,SenatorBaldwin,SenatorBaldwin,NaN,NaN,NaN,NaN,WI,Tammy Baldwin,B001230,Tammy Baldwin,1962-02-11,Tammy,F,Baldwin,Tammy Baldwin,NaN,Tammy Baldwin,Tammy Baldwin
1,SenJohnBarrasso,SenJohnBarrasso,NaN,NaN,NaN,NaN,WY,John A. Barrasso,B001261,John Barrasso,1952-07-21,John,M,Barrasso,John Barrasso,NaN,John Barrasso,John Barrasso
2,SenatorBennet,SenatorBennet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MarshaBlackburn,MarshaBlackburn,NaN,NaN,NaN,NaN,NaN,NaN,B001243,Marsha Blackburn,1952-06-06,Marsha,F,Blackburn,Marsha Blackburn,Presbyterian,Marsha Blackburn,Marsha Blackburn
4,SenBlumenthal,SenBlumenthal,NaN,NaN,NaN,NaN,CT,Richard Blumenthal,B001277,Richard Blumenthal,1946-02-13,Richard,M,Blumenthal,Richard Blumenthal,NaN,Richard Blumenthal,Richard Blumenthal

In [ ]:
len(bio_sm)

475

In [ ]:
bio_sm = cleanse_duplicate_columns(bio_sm)

In [ ]:
bio_sm.head()

,twitter,FullTwitter,first_name,last_name,district,party,state,name,bioguide_id,ballotpedia_id,birthday_bio,gender_bio,official_full_name,religion_bio,wikipedia_id
0,SenatorBaldwin,SenatorBaldwin,Tammy,Baldwin,NaN,NaN,WI,Tammy Baldwin,B001230,Tammy Baldwin,1962-02-11,F,Tammy Baldwin,NaN,Tammy Baldwin
1,SenJohnBarrasso,SenJohnBarrasso,John,Barrasso,NaN,NaN,WY,John A. Barrasso,B001261,John Barrasso,1952-07-21,M,John Barrasso,NaN,John Barrasso
2,SenatorBennet,SenatorBennet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MarshaBlackburn,MarshaBlackburn,Marsha,Blackburn,NaN,NaN,NaN,Marsha Blackburn,B001243,Marsha Blackburn,1952-06-06,F,Marsha Blackburn,Presbyterian,Marsha Blackburn
4,SenBlumenthal,SenBlumenthal,Richard,Blumenthal,NaN,NaN,CT,Richard Blumenthal,B001277,Richard Blumenthal,1946-02-13,M,Richard Blumenthal,NaN,Richard Blumenthal

In [ ]:
len(bio_sm.columns)

15

In [ ]:
bio_sm = bio_sm.dropna(thresh=3)

In [ ]:
len(bio_sm)

418

In [ ]:
bio_sm.to_csv("/content/drive/MyDrive/FACT/bio_sm.csv")

In [ ]:
# Create a DataFrame containing rows with NaN values in 'column_name'
df_with_na = bio_sm[pd.isna(bio_sm['official_full_name'])]
# Create a DataFrame containing rows without NaN values in 'column_name' combine later
df_without_na = bio_sm[~pd.isna(bio_sm['official_full_name'])]

In [ ]:
len(df_with_na)

192

In [ ]:
len(df_without_na)

226

In [ ]:
bio.columns

Index(['ballotpedia_id', 'bioguide_id', 'birthday_bio', 'first_name',
       'gender_bio', 'last_name', 'official_full_name', 'religion_bio',
       'wikipedia_id', 'name'],
      dtype='object')

In [ ]:
df_with_na_name = df_with_na.drop(['ballotpedia_id', 'bioguide_id', 'birthday_bio', 'first_name',
       'gender_bio', 'last_name', 'official_full_name', 'religion_bio',
       'wikipedia_id'], axis=1)

In [ ]:
bio["name"] = bio["official_full_name"]

In [ ]:
df_without_na_name = df_with_na[pd.isna(df_with_na['name'])] #combine

In [ ]:
df_with_na_name = df_with_na_name[~pd.isna(df_with_na_name['name'])]

In [ ]:
df_with_na_name = pd.merge(df_with_na_name, bio, on="name", how="left")

In [ ]:
df_with_na_name.head() #combine

,twitter,FullTwitter,district,party,state,name,ballotpedia_id,bioguide_id,birthday_bio,first_name,gender_bio,last_name,official_full_name,religion_bio,wikipedia_id
0,ChrisCoons,ChrisCoons,NaN,NaN,DE,Chris Coons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SenCortezMasto,SenCortezMasto,NaN,NaN,NV,Catherine Cortez Masto,Catherine Cortez Masto,C001113,1964-03-29,Catherine,F,Cortez Masto,Catherine Cortez Masto,NaN,Catherine Cortez Masto
2,SenDuckworth,SenDuckworth,NaN,NaN,IL,Tammy Duckworth,Tammy Duckworth,D000622,1968-03-12,Tammy,F,Duckworth,Tammy Duckworth,NaN,Tammy Duckworth
3,LindseyGrahamSC,LindseyGrahamSC,NaN,NaN,SC,Lindsey Graham,Lindsey Graham,G000359,1955-07-09,Lindsey,M,Graham,Lindsey Graham,Southern Baptist,Lindsey Graham
4,maziehirono,maziehirono,NaN,NaN,HI,Mazie K. Hirono,Mazie K. Hirono,H001042,1947-11-03,Mazie,F,Hirono,Mazie K. Hirono,NaN,Mazie Hirono

In [ ]:
# Count the rows that have duplicate values in 'column_name'
duplicate_count = df_with_na_name[df_with_na_name.duplicated(subset=['twitter'], keep=False)].shape[0]
print(duplicate_count)

0

In [ ]:
# Create a DataFrame containing rows with NaN values in 'column_name'
df_with_na2 = df_with_na_name[pd.isna(df_with_na_name['official_full_name'])]

In [ ]:
df_with_na2 = df_with_na2.drop(['ballotpedia_id', 'bioguide_id', 'birthday_bio', 'first_name',
       'gender_bio', 'last_name', 'official_full_name', 'religion_bio',
       'wikipedia_id'], axis=1)

In [ ]:
len(df_with_na2)

1

In [ ]:
df_with_na2.head() #combine

      twitter FullTwitter district party state         name
0  ChrisCoons  ChrisCoons      NaN   NaN    DE  Chris Coons

In [ ]:
bio["name"] = bio["ballotpedia_id"]
df_with_na2 = pd.merge(df_with_na2, bio, on="name", how="left")

In [ ]:
df_with_na2.head()

,twitter,FullTwitter,district,party,state,name,ballotpedia_id,bioguide_id,birthday_bio,first_name,gender_bio,last_name,official_full_name,religion_bio,wikipedia_id
0,ChrisCoons,ChrisCoons,NaN,NaN,DE,Chris Coons,Chris Coons,C001088,1963-09-09,Chris,M,Coons,Christopher A. Coons,NaN,Chris Coons

In [ ]:
twitter_bio_info = pd.concat([df_without_na, df_without_na_name, df_with_na_name, df_with_na2],axis=0)

In [ ]:
len(twitter_bio_info)

419

In [ ]:
# Count the rows that have duplicate values in 'column_name'
duplicate_count = twitter_bio_info[twitter_bio_info.duplicated(subset=['twitter'], keep=False)].shape[0]
print(duplicate_count)

2

In [ ]:
twitter_bio_info[twitter_bio_info.duplicated(subset=['twitter'], keep=False)]

Empty DataFrame
Columns: [twitter, FullTwitter, first_name, last_name, district, party, state, name, bioguide_id, ballotpedia_id, birthday_bio, gender_bio, official_full_name, religion_bio, wikipedia_id]
Index: []

In [ ]:
# Calculate the number of NaN values in each row
nan_counts = twitter_bio_info.isna().sum(axis=1)

In [ ]:
# Create a mask to identify duplicates based on 'name_column'
duplicates_mask =twitter_bio_info.duplicated(subset=['twitter'], keep=False)

# Create a mask to identify rows with less NaN values
less_nan_mask = nan_counts < nan_counts[duplicates_mask].max()

# Filter the DataFrame to keep rows with less NaN values
twitter_bio_info = twitter_bio_info[duplicates_mask | less_nan_mask]

In [ ]:
twitter_bio_info = twitter_bio_info.dropna(thresh=5)

In [ ]:
# Assuming `df` is your DataFrame
file_name = '/content/drive/MyDrive/FACT/twitter_bio_final.csv'  # Change to your desired file path and name
twitter_bio_info.to_csv(file_name, index=False)

In [ ]:
twitter_bio_info.head(20)

,twitter,FullTwitter,first_name,last_name,district,party,state,name,bioguide_id,ballotpedia_id,birthday_bio,gender_bio,official_full_name,religion_bio,wikipedia_id
0,SenatorBaldwin,SenatorBaldwin,Tammy,Baldwin,NaN,NaN,WI,Tammy Baldwin,B001230,Tammy Baldwin,1962-02-11,F,Tammy Baldwin,NaN,Tammy Baldwin
1,SenJohnBarrasso,SenJohnBarrasso,John,Barrasso,NaN,NaN,WY,John A. Barrasso,B001261,John Barrasso,1952-07-21,M,John Barrasso,NaN,John Barrasso
3,MarshaBlackburn,MarshaBlackburn,Marsha,Blackburn,NaN,NaN,NaN,Marsha Blackburn,B001243,Marsha Blackburn,1952-06-06,F,Marsha Blackburn,Presbyterian,Marsha Blackburn
4,SenBlumenthal,SenBlumenthal,Richard,Blumenthal,NaN,NaN,CT,Richard Blumenthal,B001277,Richard Blumenthal,1946-02-13,M,Richard Blumenthal,NaN,Richard Blumenthal
5,RoyBlunt,RoyBlunt,Roy,Blunt,NaN,NaN,MO,Roy Blunt,B000575,Roy Blunt,1950-01-10,M,Roy Blunt,Baptist,Roy Blunt
6,CoryBooker,CoryBooker,Cory,Booker,NaN,NaN,NJ,Cory Booker,B001288,Cory Booker,1969-04-27,M,Cory A. Booker,NaN,Cory Booker
7,JohnBoozman,JohnBoozman,John,Boozman,NaN,NaN,AR,John Boozman,B001236,John Boozman,1950-12-10,M,John Boozman,NaN,John Boozman
9,SenSherrodBrown,SenSherrodBrown,Sherrod,Brown,NaN,NaN,OH,Sherrod Brown,B000944,Sherrod Brown,1952-11-09,M,Sherrod Brown,Lutheran,Sherrod Brown
10,SenatorCantwell,SenatorCantwell,Maria,Cantwell,NaN,NaN,WA,Maria Cantwell,C000127,Maria Cantwell,1958-10-13,F,Maria Cantwell,Roman Catholic,Maria Cantwell
11,SenCapito,SenCapito,Shelley,Capito,NaN,NaN,WV,Shelley Moore Capito,C001047,Shelley Moore Capito,1953-11-26,F,Shelley Moore Capito,Presbyterian,Shelley Moore Capito
12,SenatorCardin,SenatorCardin,Benjamin,Cardin,NaN,NaN,MD,Benjamin L. Cardin,C000141,Ben Cardin,1943-10-05,M,Benjamin L. Cardin,Jewish,Ben Cardin
13,SenatorCarper,SenatorCarper,Thomas,Carper,NaN,NaN,DE,Thomas R. Carper,C000174,Tom Carper,1947-01-23,M,Thomas R. Carper,Presbyterian,Tom Carper
14,SenBobCasey,SenBobCasey,Robert,Casey,NaN,NaN,PA,Robert P. Casey,C001070,"Bob Casey, Jr.",1960-04-13,M,"Robert P. Casey, Jr.",NaN,Bob Casey Jr.
17,JohnCornyn,JohnCornyn,John,Cornyn,NaN,NaN,TX,John Cornyn,C001056,John Cornyn,1952-02-02,M,John Cornyn,Church of Christ,John Cornyn
19,SenTomCotton,SenTomCotton,Tom,Cotton,NaN,NaN,AR,Tom Cotton,C001095,Tom Cotton,1977-05-13,M,Tom Cotton,NaN,Tom Cotton
21,MikeCrapo,MikeCrapo,Michael,Crapo,NaN,NaN,ID,Mike Crapo,C000880,Mike Crapo,1951-05-20,M,Mike Crapo,Latter Day Saints,Mike Crapo
22,SenTedCruz,SenTedCruz,Ted,Cruz,NaN,NaN,TX,Ted Cruz,C001098,Ted Cruz,1970-12-22,M,Ted Cruz,NaN,Ted Cruz
23,SteveDaines,SteveDaines,Steve,Daines,NaN,NaN,MT,Steve Daines,D000618,Steve Daines,1962-08-20,M,Steve Daines,NaN,Steve Daines
25,SenatorDurbin,SenatorDurbin,Richard,Durbin,NaN,NaN,IL,Dick Durbin,D000563,Dick Durbin,1944-11-21,M,Richard J. Durbin,Roman Catholic,Dick Durbin
26,SenJoniErnst,SenJoniErnst,Joni,Ernst,NaN,NaN,IA,Joni K. Ernst,E000295,NaN,1970-07-01,F,Joni Ernst,NaN,Joni Ernst

# Merge with Money

In [ ]:
all_networth = pd.read_csv("/content/drive/MyDrive/FACT/congress_networth.csv")

In [ ]:
all_networth.head()

,Rank,Name,Minimum Net Worth,Average,Maximum Net Worth,Chamber
0,1,Mark Warner (D-Va),"$80,129,151","$214,092,575","$348,056,000",Senate
1,2,Greg Gianforte (R-Mont),"$189,334,335","$189,334,335","$189,334,335",House
2,3,Paul Mitchell (R-Mich),"$75,420,142","$179,610,071","$283,800,000",House
3,4,Vernon Buchanan (R-Fla),"$32,310,120","$157,169,056","$282,027,993",House
4,5,Chris Collins (R-NY),"$80,834,052","$154,497,026","$228,160,000",House

In [ ]:
# Extracting Name, Party, and State
all_networth[['official_full_name', 'party', 'state']] = all_networth['Name'].str.extract(r'^(.*?)\s\((D|R)-(.*)\)$')

In [ ]:
all_networth.head()

,Rank,Name,Minimum Net Worth,Average,Maximum Net Worth,Chamber,official_full_name,party,state
0,1,Mark Warner (D-Va),"$80,129,151","$214,092,575","$348,056,000",Senate,Mark Warner,D,Va
1,2,Greg Gianforte (R-Mont),"$189,334,335","$189,334,335","$189,334,335",House,Greg Gianforte,R,Mont
2,3,Paul Mitchell (R-Mich),"$75,420,142","$179,610,071","$283,800,000",House,Paul Mitchell,R,Mich
3,4,Vernon Buchanan (R-Fla),"$32,310,120","$157,169,056","$282,027,993",House,Vernon Buchanan,R,Fla
4,5,Chris Collins (R-NY),"$80,834,052","$154,497,026","$228,160,000",House,Chris Collins,R,NY

In [ ]:
all_networth = all_networth.drop("Name", axis=1)

KeyError: "['Name'] not found in axis"

In [ ]:
len(twitter_bio_info)

418

In [ ]:
len(all_networth)

433

In [ ]:
# Define a regular expression pattern to match names with optional middle initials and suffixes
name_pattern = r'^(\S+)\s(?:\S+\s)?(\S+)$'

# Use the regular expression pattern to extract first and last names
all_networth[['first_name', 'last_name']] = all_networth["official_full_name"].str.extract(name_pattern)

In [ ]:
all = pd.merge(twitter_bio_info, all_networth, how="left", on=['first_name', 'last_name'])

In [ ]:
len(all)

418

In [ ]:
all = cleanse_duplicate_columns(all)
all = all.drop_duplicates()

In [ ]:
all.head(20)

,twitter,FullTwitter,first_name,last_name,district,party,state,name,bioguide_id,ballotpedia_id,birthday_bio,gender_bio,official_full_name,religion_bio,wikipedia_id,Rank,Minimum Net Worth,Average,Maximum Net Worth,Chamber
0,SenatorBaldwin,SenatorBaldwin,Tammy,Baldwin,NaN,D,WI,Tammy Baldwin,B001230,Tammy Baldwin,1962-02-11,F,Tammy Baldwin,NaN,Tammy Baldwin,220.0,"$434,008","$1,147,003","$1,859,998",Senate
1,SenJohnBarrasso,SenJohnBarrasso,John,Barrasso,NaN,R,WY,John A. Barrasso,B001261,John Barrasso,1952-07-21,M,John Barrasso,NaN,John Barrasso,61.0,"$3,533,013","$8,339,006","$13,145,000",Senate
2,MarshaBlackburn,MarshaBlackburn,Marsha,Blackburn,NaN,NaN,NaN,Marsha Blackburn,B001243,Marsha Blackburn,1952-06-06,F,Marsha Blackburn,Presbyterian,Marsha Blackburn,NaN,NaN,NaN,NaN,NaN
3,SenBlumenthal,SenBlumenthal,Richard,Blumenthal,NaN,NaN,CT,Richard Blumenthal,B001277,Richard Blumenthal,1946-02-13,M,Richard Blumenthal,NaN,Richard Blumenthal,NaN,NaN,NaN,NaN,NaN
4,RoyBlunt,RoyBlunt,Roy,Blunt,NaN,R,MO,Roy Blunt,B000575,Roy Blunt,1950-01-10,M,Roy Blunt,Baptist,Roy Blunt,95.0,"$2,599,022","$5,704,510","$8,809,999",Senate
5,CoryBooker,CoryBooker,Cory,Booker,NaN,D,NJ,Cory Booker,B001288,Cory Booker,1969-04-27,M,Cory A. Booker,NaN,Cory Booker,249.0,"$515,006","$807,503","$1,100,000",Senate
6,JohnBoozman,JohnBoozman,John,Boozman,NaN,NaN,AR,John Boozman,B001236,John Boozman,1950-12-10,M,John Boozman,NaN,John Boozman,NaN,NaN,NaN,NaN,NaN
7,SenSherrodBrown,SenSherrodBrown,Sherrod,Brown,NaN,D,OH,Sherrod Brown,B000944,Sherrod Brown,1952-11-09,M,Sherrod Brown,Lutheran,Sherrod Brown,336.0,"-$163,988","$263,005","$689,998",Senate
8,SenatorCantwell,SenatorCantwell,Maria,Cantwell,NaN,D,WA,Maria Cantwell,C000127,Maria Cantwell,1958-10-13,F,Maria Cantwell,Roman Catholic,Maria Cantwell,93.0,"$1,094,022","$5,756,508","$10,418,994",Senate
9,SenCapito,SenCapito,Shelley,Capito,NaN,R,WV,Shelley Moore Capito,C001047,Shelley Moore Capito,1953-11-26,F,Shelley Moore Capito,Presbyterian,Shelley Moore Capito,169.0,"-$224,830","$2,149,080","$4,522,991",Senate
10,SenatorCardin,SenatorCardin,Benjamin,Cardin,NaN,NaN,MD,Benjamin L. Cardin,C000141,Ben Cardin,1943-10-05,M,Benjamin L. Cardin,Jewish,Ben Cardin,NaN,NaN,NaN,NaN,NaN
11,SenatorCarper,SenatorCarper,Thomas,Carper,NaN,NaN,DE,Thomas R. Carper,C000174,Tom Carper,1947-01-23,M,Thomas R. Carper,Presbyterian,Tom Carper,NaN,NaN,NaN,NaN,NaN
12,SenBobCasey,SenBobCasey,Robert,Casey,NaN,NaN,PA,Robert P. Casey,C001070,"Bob Casey, Jr.",1960-04-13,M,"Robert P. Casey, Jr.",NaN,Bob Casey Jr.,NaN,NaN,NaN,NaN,NaN
13,JohnCornyn,JohnCornyn,John,Cornyn,NaN,R,TX,John Cornyn,C001056,John Cornyn,1952-02-02,M,John Cornyn,Church of Christ,John Cornyn,178.0,"$1,074,046","$1,884,522","$2,694,999",Senate
14,SenTomCotton,SenTomCotton,Tom,Cotton,NaN,R,AR,Tom Cotton,C001095,Tom Cotton,1977-05-13,M,Tom Cotton,NaN,Tom Cotton,285.0,"$229,017","$498,008","$767,000",Senate
15,MikeCrapo,MikeCrapo,Michael,Crapo,NaN,NaN,ID,Mike Crapo,C000880,Mike Crapo,1951-05-20,M,Mike Crapo,Latter Day Saints,Mike Crapo,NaN,NaN,NaN,NaN,NaN
16,SenTedCruz,SenTedCruz,Ted,Cruz,NaN,R,TX,Ted Cruz,C001098,Ted Cruz,1970-12-22,M,Ted Cruz,NaN,Ted Cruz,139.0,"-$9,027,848","$3,198,068","$15,423,985",Senate
17,SteveDaines,SteveDaines,Steve,Daines,NaN,NaN,MT,Steve Daines,D000618,Steve Daines,1962-08-20,M,Steve Daines,NaN,Steve Daines,NaN,NaN,NaN,NaN,NaN
18,SenatorDurbin,SenatorDurbin,Richard,Durbin,NaN,NaN,IL,Dick Durbin,D000563,Dick Durbin,1944-11-21,M,Richard J. Durbin,Roman Catholic,Dick Durbin,NaN,NaN,NaN,NaN,NaN
19,SenJoniErnst,SenJoniErnst,Joni,Ernst,NaN,R,IA,Joni K. Ernst,E000295,NaN,1970-07-01,F,Joni Ernst,NaN,Joni Ernst,423.0,"-$783,966","-$196,984","$389,998",Senate

In [ ]:
# Count the rows that have duplicate values in 'column_name'
duplicate_count = all[all.duplicated(subset=['twitter'], keep=False)].shape[0]
print(duplicate_count)

0

In [ ]:
len(all)

418

In [ ]:
# Create a DataFrame containing rows with NaN values in 'column_name'
no_money = all[pd.isna(all['Average'])]
# Create a DataFrame containing rows without NaN values in 'column_name' combine later
money = all[~pd.isna(all['Average'])]

In [ ]:
len(no_money)

175

In [ ]:
len(money)

243

In [ ]:
len(no_money.dropna(subset='name'))

52

In [ ]:
no_money = no_money.drop(all_networth.columns, axis=1)

In [ ]:
no_money['official_full_name'] = no_money["name"]

In [ ]:
no_money_full = no_money.dropna(subset='official_full_name')

In [ ]:
maybe_money = pd.merge(no_money_full, all_networth, how="left", on='official_full_name')

In [ ]:
maybe_money.head()

,twitter,FullTwitter,district,name,bioguide_id,ballotpedia_id,birthday_bio,gender_bio,religion_bio,wikipedia_id,official_full_name,Rank,Minimum Net Worth,Average,Maximum Net Worth,Chamber,party,state,first_name,last_name
0,MarshaBlackburn,MarshaBlackburn,NaN,Marsha Blackburn,B001243,Marsha Blackburn,1952-06-06,F,Presbyterian,Marsha Blackburn,Marsha Blackburn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SenBlumenthal,SenBlumenthal,NaN,Richard Blumenthal,B001277,Richard Blumenthal,1946-02-13,M,NaN,Richard Blumenthal,Richard Blumenthal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,JohnBoozman,JohnBoozman,NaN,John Boozman,B001236,John Boozman,1950-12-10,M,NaN,John Boozman,John Boozman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SenatorCardin,SenatorCardin,NaN,Benjamin L. Cardin,C000141,Ben Cardin,1943-10-05,M,Jewish,Ben Cardin,Benjamin L. Cardin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SenatorCarper,SenatorCarper,NaN,Thomas R. Carper,C000174,Tom Carper,1947-01-23,M,Presbyterian,Tom Carper,Thomas R. Carper,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
len(maybe_money)

52

In [ ]:
len(maybe_money[pd.isna(maybe_money['Average'])])

41

In [ ]:
money.head(20)

,twitter,FullTwitter,first_name,last_name,district,party,state,name,bioguide_id,ballotpedia_id,birthday_bio,gender_bio,official_full_name,religion_bio,wikipedia_id,Rank,Minimum Net Worth,Average,Maximum Net Worth,Chamber
0,SenatorBaldwin,SenatorBaldwin,Tammy,Baldwin,NaN,D,WI,Tammy Baldwin,B001230,Tammy Baldwin,1962-02-11,F,Tammy Baldwin,NaN,Tammy Baldwin,220.0,"$434,008","$1,147,003","$1,859,998",Senate
1,SenJohnBarrasso,SenJohnBarrasso,John,Barrasso,NaN,R,WY,John A. Barrasso,B001261,John Barrasso,1952-07-21,M,John Barrasso,NaN,John Barrasso,61.0,"$3,533,013","$8,339,006","$13,145,000",Senate
4,RoyBlunt,RoyBlunt,Roy,Blunt,NaN,R,MO,Roy Blunt,B000575,Roy Blunt,1950-01-10,M,Roy Blunt,Baptist,Roy Blunt,95.0,"$2,599,022","$5,704,510","$8,809,999",Senate
5,CoryBooker,CoryBooker,Cory,Booker,NaN,D,NJ,Cory Booker,B001288,Cory Booker,1969-04-27,M,Cory A. Booker,NaN,Cory Booker,249.0,"$515,006","$807,503","$1,100,000",Senate
7,SenSherrodBrown,SenSherrodBrown,Sherrod,Brown,NaN,D,OH,Sherrod Brown,B000944,Sherrod Brown,1952-11-09,M,Sherrod Brown,Lutheran,Sherrod Brown,336.0,"-$163,988","$263,005","$689,998",Senate
8,SenatorCantwell,SenatorCantwell,Maria,Cantwell,NaN,D,WA,Maria Cantwell,C000127,Maria Cantwell,1958-10-13,F,Maria Cantwell,Roman Catholic,Maria Cantwell,93.0,"$1,094,022","$5,756,508","$10,418,994",Senate
9,SenCapito,SenCapito,Shelley,Capito,NaN,R,WV,Shelley Moore Capito,C001047,Shelley Moore Capito,1953-11-26,F,Shelley Moore Capito,Presbyterian,Shelley Moore Capito,169.0,"-$224,830","$2,149,080","$4,522,991",Senate
13,JohnCornyn,JohnCornyn,John,Cornyn,NaN,R,TX,John Cornyn,C001056,John Cornyn,1952-02-02,M,John Cornyn,Church of Christ,John Cornyn,178.0,"$1,074,046","$1,884,522","$2,694,999",Senate
14,SenTomCotton,SenTomCotton,Tom,Cotton,NaN,R,AR,Tom Cotton,C001095,Tom Cotton,1977-05-13,M,Tom Cotton,NaN,Tom Cotton,285.0,"$229,017","$498,008","$767,000",Senate
16,SenTedCruz,SenTedCruz,Ted,Cruz,NaN,R,TX,Ted Cruz,C001098,Ted Cruz,1970-12-22,M,Ted Cruz,NaN,Ted Cruz,139.0,"-$9,027,848","$3,198,068","$15,423,985",Senate
19,SenJoniErnst,SenJoniErnst,Joni,Ernst,NaN,R,IA,Joni K. Ernst,E000295,NaN,1970-07-01,F,Joni Ernst,NaN,Joni Ernst,423.0,"-$783,966","-$196,984","$389,998",Senate
20,SenFeinstein,SenFeinstein,Dianne,Feinstein,NaN,D,CA,Dianne Feinstein,F000062,Dianne Feinstein,1933-06-22,F,Dianne Feinstein,Jewish,Dianne Feinstein,8.0,"$55,027,069","$87,938,540","$120,850,011",Senate
21,SenatorFischer,SenatorFischer,Deb,Fischer,NaN,R,NE,Deb Fischer,F000463,Deb Fischer,1951-03-01,F,Deb Fischer,NaN,Deb Fischer,154.0,"$122,012","$2,776,005","$5,429,998",Senate
22,SenGillibrand,SenGillibrand,Kirsten,Gillibrand,NaN,D,NY,Kirsten E. Gillibrand,G000555,Kirsten Gillibrand,1966-12-09,F,Kirsten E. Gillibrand,NaN,Kirsten Gillibrand,324.0,"$162,008","$296,004","$430,000",Senate
24,MartinHeinrich,MartinHeinrich,Martin,Heinrich,NaN,D,NM,Martin T. Heinrich,H001046,Martin Heinrich,1971-10-17,M,Martin Heinrich,NaN,Martin Heinrich,323.0,"-$361,964","$309,017","$979,998",Senate
25,SenJohnHoeven,SenJohnHoeven,John,Hoeven,NaN,R,ND,John Hoeven,H001061,John Hoeven,1957-03-13,M,John Hoeven,NaN,John Hoeven,15.0,"$19,263,138","$46,689,569","$74,116,000",Senate
26,SenRonJohnson,SenRonJohnson,Ron,Johnson,NaN,R,WI,Ron Johnson,J000293,Ron Johnson (Wisconsin),1955-04-08,M,Ron Johnson,NaN,Ron Johnson (U.S. politician),20.0,"$14,101,014","$39,233,507","$64,366,000",Senate
28,SenatorLankford,SenatorLankford,James,Lankford,NaN,R,OK,James Lankford,L000575,James Lankford,1968-03-04,M,James Lankford,NaN,James Lankford,364.0,"-$159,980","$116,509","$392,999",Senate
29,SenatorLeahy,SenatorLeahy,Patrick,Leahy,NaN,D,VT,Patrick J. Leahy,L000174,Patrick Leahy,1940-03-31,M,Patrick J. Leahy,Roman Catholic,Patrick Leahy,414.0,"-$330,992","-$85,496","$159,999",Senate
30,SenMikeLee,SenMikeLee,Mike,Lee,NaN,R,UT,Mike Lee,L000577,Mike Lee,1971-06-04,M,Mike Lee,NaN,Mike Lee (U.S. politician),298.0,"$208,010","$414,005","$620,000",Senate

In [ ]:

# Create a DataFrame containing rows without NaN values in 'column_name' combine later
new_money = maybe_money[~pd.isna(maybe_money['Average'])]

In [ ]:
new_money.head()

,twitter,FullTwitter,district,name,bioguide_id,ballotpedia_id,birthday_bio,gender_bio,religion_bio,wikipedia_id,official_full_name,Rank,Minimum Net Worth,Average,Maximum Net Worth,Chamber,party,state,first_name,last_name
6,MikeCrapo,MikeCrapo,NaN,Mike Crapo,C000880,Mike Crapo,1951-05-20,M,Latter Day Saints,Mike Crapo,Mike Crapo,235.0,"$204,044","$944,521","$1,684,999",Senate,R,Idaho,Mike,Crapo
9,ChuckGrassley,ChuckGrassley,NaN,Chuck Grassley,G000386,Chuck Grassley,1933-09-17,M,Baptist,Chuck Grassley,Chuck Grassley,68.0,"$4,240,150","$7,550,075","$10,860,000",Senate,R,Iowa,Chuck,Grassley
12,SenatorMenendez,SenatorMenendez,NaN,Robert Menendez,M000639,Bob Menendez,1954-01-01,M,Roman Catholic,Bob Menendez,Robert Menendez,275.0,"$303,005","$541,502","$779,999",Senate,D,NJ,Robert,Menendez
13,SenJackReed,SenJackReed,NaN,Jack Reed,R000122,Jack Reed,1949-11-12,M,Roman Catholic,Jack Reed (politician),Jack Reed,366.0,"-$561,945","$107,026","$775,998",Senate,D,RI,Jack,Reed
15,SenToomey,SenToomey,NaN,Pat Toomey,T000461,Pat Toomey,1961-11-17,M,NaN,Pat Toomey,Pat Toomey,172.0,"$721,060","$2,038,029","$3,354,998",Senate,R,Pa,Pat,Toomey

In [ ]:
money.columns

Index(['twitter', 'FullTwitter', 'first_name', 'last_name', 'district',
       'party', 'state', 'name', 'bioguide_id', 'ballotpedia_id',
       'birthday_bio', 'gender_bio', 'official_full_name', 'religion_bio',
       'wikipedia_id', 'Rank', 'Minimum Net Worth', 'Average',
       'Maximum Net Worth', 'Chamber'],
      dtype='object')

In [ ]:
new_money.columns

Index(['twitter', 'FullTwitter', 'district', 'name', 'bioguide_id',
       'ballotpedia_id', 'birthday_bio', 'gender_bio', 'religion_bio',
       'wikipedia_id', 'official_full_name', 'Rank', 'Minimum Net Worth',
       'Average', 'Maximum Net Worth', 'Chamber', 'party', 'state',
       'first_name', 'last_name'],
      dtype='object')

In [ ]:
new_money = new_money[money.columns]

In [ ]:
new_money.head()

,twitter,FullTwitter,first_name,last_name,district,party,state,name,bioguide_id,ballotpedia_id,birthday_bio,gender_bio,official_full_name,religion_bio,wikipedia_id,Rank,Minimum Net Worth,Average,Maximum Net Worth,Chamber
6,MikeCrapo,MikeCrapo,Mike,Crapo,NaN,R,Idaho,Mike Crapo,C000880,Mike Crapo,1951-05-20,M,Mike Crapo,Latter Day Saints,Mike Crapo,235.0,"$204,044","$944,521","$1,684,999",Senate
9,ChuckGrassley,ChuckGrassley,Chuck,Grassley,NaN,R,Iowa,Chuck Grassley,G000386,Chuck Grassley,1933-09-17,M,Chuck Grassley,Baptist,Chuck Grassley,68.0,"$4,240,150","$7,550,075","$10,860,000",Senate
12,SenatorMenendez,SenatorMenendez,Robert,Menendez,NaN,D,NJ,Robert Menendez,M000639,Bob Menendez,1954-01-01,M,Robert Menendez,Roman Catholic,Bob Menendez,275.0,"$303,005","$541,502","$779,999",Senate
13,SenJackReed,SenJackReed,Jack,Reed,NaN,D,RI,Jack Reed,R000122,Jack Reed,1949-11-12,M,Jack Reed,Roman Catholic,Jack Reed (politician),366.0,"-$561,945","$107,026","$775,998",Senate
15,SenToomey,SenToomey,Pat,Toomey,NaN,R,Pa,Pat Toomey,T000461,Pat Toomey,1961-11-17,M,Pat Toomey,NaN,Pat Toomey,172.0,"$721,060","$2,038,029","$3,354,998",Senate

In [ ]:
money = pd.concat([money, new_money], axis=0)

In [ ]:
money.head(20)

,twitter,FullTwitter,first_name,last_name,district,party,state,name,bioguide_id,ballotpedia_id,birthday_bio,gender_bio,official_full_name,religion_bio,wikipedia_id,Rank,Minimum Net Worth,Average,Maximum Net Worth,Chamber
0,SenatorBaldwin,SenatorBaldwin,Tammy,Baldwin,NaN,D,WI,Tammy Baldwin,B001230,Tammy Baldwin,1962-02-11,F,Tammy Baldwin,NaN,Tammy Baldwin,220.0,"$434,008","$1,147,003","$1,859,998",Senate
1,SenJohnBarrasso,SenJohnBarrasso,John,Barrasso,NaN,R,WY,John A. Barrasso,B001261,John Barrasso,1952-07-21,M,John Barrasso,NaN,John Barrasso,61.0,"$3,533,013","$8,339,006","$13,145,000",Senate
4,RoyBlunt,RoyBlunt,Roy,Blunt,NaN,R,MO,Roy Blunt,B000575,Roy Blunt,1950-01-10,M,Roy Blunt,Baptist,Roy Blunt,95.0,"$2,599,022","$5,704,510","$8,809,999",Senate
5,CoryBooker,CoryBooker,Cory,Booker,NaN,D,NJ,Cory Booker,B001288,Cory Booker,1969-04-27,M,Cory A. Booker,NaN,Cory Booker,249.0,"$515,006","$807,503","$1,100,000",Senate
7,SenSherrodBrown,SenSherrodBrown,Sherrod,Brown,NaN,D,OH,Sherrod Brown,B000944,Sherrod Brown,1952-11-09,M,Sherrod Brown,Lutheran,Sherrod Brown,336.0,"-$163,988","$263,005","$689,998",Senate
8,SenatorCantwell,SenatorCantwell,Maria,Cantwell,NaN,D,WA,Maria Cantwell,C000127,Maria Cantwell,1958-10-13,F,Maria Cantwell,Roman Catholic,Maria Cantwell,93.0,"$1,094,022","$5,756,508","$10,418,994",Senate
9,SenCapito,SenCapito,Shelley,Capito,NaN,R,WV,Shelley Moore Capito,C001047,Shelley Moore Capito,1953-11-26,F,Shelley Moore Capito,Presbyterian,Shelley Moore Capito,169.0,"-$224,830","$2,149,080","$4,522,991",Senate
13,JohnCornyn,JohnCornyn,John,Cornyn,NaN,R,TX,John Cornyn,C001056,John Cornyn,1952-02-02,M,John Cornyn,Church of Christ,John Cornyn,178.0,"$1,074,046","$1,884,522","$2,694,999",Senate
14,SenTomCotton,SenTomCotton,Tom,Cotton,NaN,R,AR,Tom Cotton,C001095,Tom Cotton,1977-05-13,M,Tom Cotton,NaN,Tom Cotton,285.0,"$229,017","$498,008","$767,000",Senate
16,SenTedCruz,SenTedCruz,Ted,Cruz,NaN,R,TX,Ted Cruz,C001098,Ted Cruz,1970-12-22,M,Ted Cruz,NaN,Ted Cruz,139.0,"-$9,027,848","$3,198,068","$15,423,985",Senate
19,SenJoniErnst,SenJoniErnst,Joni,Ernst,NaN,R,IA,Joni K. Ernst,E000295,NaN,1970-07-01,F,Joni Ernst,NaN,Joni Ernst,423.0,"-$783,966","-$196,984","$389,998",Senate
20,SenFeinstein,SenFeinstein,Dianne,Feinstein,NaN,D,CA,Dianne Feinstein,F000062,Dianne Feinstein,1933-06-22,F,Dianne Feinstein,Jewish,Dianne Feinstein,8.0,"$55,027,069","$87,938,540","$120,850,011",Senate
21,SenatorFischer,SenatorFischer,Deb,Fischer,NaN,R,NE,Deb Fischer,F000463,Deb Fischer,1951-03-01,F,Deb Fischer,NaN,Deb Fischer,154.0,"$122,012","$2,776,005","$5,429,998",Senate
22,SenGillibrand,SenGillibrand,Kirsten,Gillibrand,NaN,D,NY,Kirsten E. Gillibrand,G000555,Kirsten Gillibrand,1966-12-09,F,Kirsten E. Gillibrand,NaN,Kirsten Gillibrand,324.0,"$162,008","$296,004","$430,000",Senate
24,MartinHeinrich,MartinHeinrich,Martin,Heinrich,NaN,D,NM,Martin T. Heinrich,H001046,Martin Heinrich,1971-10-17,M,Martin Heinrich,NaN,Martin Heinrich,323.0,"-$361,964","$309,017","$979,998",Senate
25,SenJohnHoeven,SenJohnHoeven,John,Hoeven,NaN,R,ND,John Hoeven,H001061,John Hoeven,1957-03-13,M,John Hoeven,NaN,John Hoeven,15.0,"$19,263,138","$46,689,569","$74,116,000",Senate
26,SenRonJohnson,SenRonJohnson,Ron,Johnson,NaN,R,WI,Ron Johnson,J000293,Ron Johnson (Wisconsin),1955-04-08,M,Ron Johnson,NaN,Ron Johnson (U.S. politician),20.0,"$14,101,014","$39,233,507","$64,366,000",Senate
28,SenatorLankford,SenatorLankford,James,Lankford,NaN,R,OK,James Lankford,L000575,James Lankford,1968-03-04,M,James Lankford,NaN,James Lankford,364.0,"-$159,980","$116,509","$392,999",Senate
29,SenatorLeahy,SenatorLeahy,Patrick,Leahy,NaN,D,VT,Patrick J. Leahy,L000174,Patrick Leahy,1940-03-31,M,Patrick J. Leahy,Roman Catholic,Patrick Leahy,414.0,"-$330,992","-$85,496","$159,999",Senate
30,SenMikeLee,SenMikeLee,Mike,Lee,NaN,R,UT,Mike Lee,L000577,Mike Lee,1971-06-04,M,Mike Lee,NaN,Mike Lee (U.S. politician),298.0,"$208,010","$414,005","$620,000",Senate

In [ ]:
len(money)

254

In [ ]:
len(no_money2)

41

In [ ]:
money.head()

,twitter,FullTwitter,first_name,last_name,district,party,state,name,bioguide_id,ballotpedia_id,birthday_bio,gender_bio,official_full_name,religion_bio,wikipedia_id,Rank,Minimum Net Worth,Average,Maximum Net Worth,Chamber
0,SenatorBaldwin,SenatorBaldwin,Sherrod,Brown,NaN,D,WI,Sherrod Brown,B000944,Sherrod Brown,1952-11-09,M,Sherrod Brown,Lutheran,Sherrod Brown,220.0,"$434,008","$1,147,003","$1,859,998",Senate
1,SenJohnBarrasso,SenJohnBarrasso,Maria,Cantwell,NaN,R,WY,Maria Cantwell,C000127,Maria Cantwell,1958-10-13,F,Maria Cantwell,Roman Catholic,Maria Cantwell,61.0,"$3,533,013","$8,339,006","$13,145,000",Senate
4,RoyBlunt,RoyBlunt,Robert,Casey,NaN,R,MO,"Bob Casey, Jr.",C001070,"Bob Casey, Jr.",1960-04-13,M,"Robert P. Casey, Jr.",Baptist,Bob Casey Jr.,95.0,"$2,599,022","$5,704,510","$8,809,999",Senate
5,CoryBooker,CoryBooker,Bob,Corker,NaN,D,NJ,Bob Corker,C001071,Bob Corker,1952-08-24,M,Bob Corker,NaN,Bob Corker,249.0,"$515,006","$807,503","$1,100,000",Senate
7,SenSherrodBrown,SenSherrodBrown,Orrin,Hatch,NaN,D,OH,Orrin Hatch,H000338,Orrin Hatch,1934-03-22,M,Orrin G. Hatch,Latter Day Saints,Orrin Hatch,336.0,"-$163,988","$263,005","$689,998",Senate

In [ ]:
complete_data = money

In [ ]:
complete_data.to_csv('/content/drive/MyDrive/FACT/money_bio_twitter.csv')

In [ ]:
complete_data.head(20)

,twitter,FullTwitter,first_name,last_name,district,party,state,name,bioguide_id,ballotpedia_id,birthday_bio,gender_bio,official_full_name,religion_bio,wikipedia_id,Rank,Minimum Net Worth,Average,Maximum Net Worth,Chamber
0,SenatorBaldwin,SenatorBaldwin,Tammy,Baldwin,NaN,D,WI,Tammy Baldwin,B001230,Tammy Baldwin,1962-02-11,F,Tammy Baldwin,NaN,Tammy Baldwin,220.0,"$434,008","$1,147,003","$1,859,998",Senate
1,SenJohnBarrasso,SenJohnBarrasso,John,Barrasso,NaN,R,WY,John A. Barrasso,B001261,John Barrasso,1952-07-21,M,John Barrasso,NaN,John Barrasso,61.0,"$3,533,013","$8,339,006","$13,145,000",Senate
4,RoyBlunt,RoyBlunt,Roy,Blunt,NaN,R,MO,Roy Blunt,B000575,Roy Blunt,1950-01-10,M,Roy Blunt,Baptist,Roy Blunt,95.0,"$2,599,022","$5,704,510","$8,809,999",Senate
5,CoryBooker,CoryBooker,Cory,Booker,NaN,D,NJ,Cory Booker,B001288,Cory Booker,1969-04-27,M,Cory A. Booker,NaN,Cory Booker,249.0,"$515,006","$807,503","$1,100,000",Senate
7,SenSherrodBrown,SenSherrodBrown,Sherrod,Brown,NaN,D,OH,Sherrod Brown,B000944,Sherrod Brown,1952-11-09,M,Sherrod Brown,Lutheran,Sherrod Brown,336.0,"-$163,988","$263,005","$689,998",Senate
8,SenatorCantwell,SenatorCantwell,Maria,Cantwell,NaN,D,WA,Maria Cantwell,C000127,Maria Cantwell,1958-10-13,F,Maria Cantwell,Roman Catholic,Maria Cantwell,93.0,"$1,094,022","$5,756,508","$10,418,994",Senate
9,SenCapito,SenCapito,Shelley,Capito,NaN,R,WV,Shelley Moore Capito,C001047,Shelley Moore Capito,1953-11-26,F,Shelley Moore Capito,Presbyterian,Shelley Moore Capito,169.0,"-$224,830","$2,149,080","$4,522,991",Senate
13,JohnCornyn,JohnCornyn,John,Cornyn,NaN,R,TX,John Cornyn,C001056,John Cornyn,1952-02-02,M,John Cornyn,Church of Christ,John Cornyn,178.0,"$1,074,046","$1,884,522","$2,694,999",Senate
14,SenTomCotton,SenTomCotton,Tom,Cotton,NaN,R,AR,Tom Cotton,C001095,Tom Cotton,1977-05-13,M,Tom Cotton,NaN,Tom Cotton,285.0,"$229,017","$498,008","$767,000",Senate
16,SenTedCruz,SenTedCruz,Ted,Cruz,NaN,R,TX,Ted Cruz,C001098,Ted Cruz,1970-12-22,M,Ted Cruz,NaN,Ted Cruz,139.0,"-$9,027,848","$3,198,068","$15,423,985",Senate
19,SenJoniErnst,SenJoniErnst,Joni,Ernst,NaN,R,IA,Joni K. Ernst,E000295,NaN,1970-07-01,F,Joni Ernst,NaN,Joni Ernst,423.0,"-$783,966","-$196,984","$389,998",Senate
20,SenFeinstein,SenFeinstein,Dianne,Feinstein,NaN,D,CA,Dianne Feinstein,F000062,Dianne Feinstein,1933-06-22,F,Dianne Feinstein,Jewish,Dianne Feinstein,8.0,"$55,027,069","$87,938,540","$120,850,011",Senate
21,SenatorFischer,SenatorFischer,Deb,Fischer,NaN,R,NE,Deb Fischer,F000463,Deb Fischer,1951-03-01,F,Deb Fischer,NaN,Deb Fischer,154.0,"$122,012","$2,776,005","$5,429,998",Senate
22,SenGillibrand,SenGillibrand,Kirsten,Gillibrand,NaN,D,NY,Kirsten E. Gillibrand,G000555,Kirsten Gillibrand,1966-12-09,F,Kirsten E. Gillibrand,NaN,Kirsten Gillibrand,324.0,"$162,008","$296,004","$430,000",Senate
24,MartinHeinrich,MartinHeinrich,Martin,Heinrich,NaN,D,NM,Martin T. Heinrich,H001046,Martin Heinrich,1971-10-17,M,Martin Heinrich,NaN,Martin Heinrich,323.0,"-$361,964","$309,017","$979,998",Senate
25,SenJohnHoeven,SenJohnHoeven,John,Hoeven,NaN,R,ND,John Hoeven,H001061,John Hoeven,1957-03-13,M,John Hoeven,NaN,John Hoeven,15.0,"$19,263,138","$46,689,569","$74,116,000",Senate
26,SenRonJohnson,SenRonJohnson,Ron,Johnson,NaN,R,WI,Ron Johnson,J000293,Ron Johnson (Wisconsin),1955-04-08,M,Ron Johnson,NaN,Ron Johnson (U.S. politician),20.0,"$14,101,014","$39,233,507","$64,366,000",Senate
28,SenatorLankford,SenatorLankford,James,Lankford,NaN,R,OK,James Lankford,L000575,James Lankford,1968-03-04,M,James Lankford,NaN,James Lankford,364.0,"-$159,980","$116,509","$392,999",Senate
29,SenatorLeahy,SenatorLeahy,Patrick,Leahy,NaN,D,VT,Patrick J. Leahy,L000174,Patrick Leahy,1940-03-31,M,Patrick J. Leahy,Roman Catholic,Patrick Leahy,414.0,"-$330,992","-$85,496","$159,999",Senate
30,SenMikeLee,SenMikeLee,Mike,Lee,NaN,R,UT,Mike Lee,L000577,Mike Lee,1971-06-04,M,Mike Lee,NaN,Mike Lee (U.S. politician),298.0,"$208,010","$414,005","$620,000",Senate

In [ ]:
complete_data['state'].fillna(complete_data['district'].str.slice(0, 2), inplace=True)

In [ ]:
complete_data.head(10)

,twitter,FullTwitter,first_name,last_name,district,party,state,name,bioguide_id,ballotpedia_id,birthday_bio,gender_bio,official_full_name,religion_bio,wikipedia_id,Rank,Minimum Net Worth,Average,Maximum Net Worth,Chamber
0,SenatorBaldwin,SenatorBaldwin,Tammy,Baldwin,NaN,D,WI,Tammy Baldwin,B001230,Tammy Baldwin,1962-02-11,F,Tammy Baldwin,NaN,Tammy Baldwin,220.0,"$434,008","$1,147,003","$1,859,998",Senate
1,SenJohnBarrasso,SenJohnBarrasso,John,Barrasso,NaN,R,WY,John A. Barrasso,B001261,John Barrasso,1952-07-21,M,John Barrasso,NaN,John Barrasso,61.0,"$3,533,013","$8,339,006","$13,145,000",Senate
4,RoyBlunt,RoyBlunt,Roy,Blunt,NaN,R,MO,Roy Blunt,B000575,Roy Blunt,1950-01-10,M,Roy Blunt,Baptist,Roy Blunt,95.0,"$2,599,022","$5,704,510","$8,809,999",Senate
5,CoryBooker,CoryBooker,Cory,Booker,NaN,D,NJ,Cory Booker,B001288,Cory Booker,1969-04-27,M,Cory A. Booker,NaN,Cory Booker,249.0,"$515,006","$807,503","$1,100,000",Senate
7,SenSherrodBrown,SenSherrodBrown,Sherrod,Brown,NaN,D,OH,Sherrod Brown,B000944,Sherrod Brown,1952-11-09,M,Sherrod Brown,Lutheran,Sherrod Brown,336.0,"-$163,988","$263,005","$689,998",Senate
8,SenatorCantwell,SenatorCantwell,Maria,Cantwell,NaN,D,WA,Maria Cantwell,C000127,Maria Cantwell,1958-10-13,F,Maria Cantwell,Roman Catholic,Maria Cantwell,93.0,"$1,094,022","$5,756,508","$10,418,994",Senate
9,SenCapito,SenCapito,Shelley,Capito,NaN,R,WV,Shelley Moore Capito,C001047,Shelley Moore Capito,1953-11-26,F,Shelley Moore Capito,Presbyterian,Shelley Moore Capito,169.0,"-$224,830","$2,149,080","$4,522,991",Senate
13,JohnCornyn,JohnCornyn,John,Cornyn,NaN,R,TX,John Cornyn,C001056,John Cornyn,1952-02-02,M,John Cornyn,Church of Christ,John Cornyn,178.0,"$1,074,046","$1,884,522","$2,694,999",Senate
14,SenTomCotton,SenTomCotton,Tom,Cotton,NaN,R,AR,Tom Cotton,C001095,Tom Cotton,1977-05-13,M,Tom Cotton,NaN,Tom Cotton,285.0,"$229,017","$498,008","$767,000",Senate
16,SenTedCruz,SenTedCruz,Ted,Cruz,NaN,R,TX,Ted Cruz,C001098,Ted Cruz,1970-12-22,M,Ted Cruz,NaN,Ted Cruz,139.0,"-$9,027,848","$3,198,068","$15,423,985",Senate

In [ ]:
import numpy as np

In [ ]:
# Replace 'ColumnA' value with 'ColumnB' value if 'ColumnA' string length is greater than 2
complete_data['state'] = np.where(complete_data['state'].str.len() > 2, complete_data['district'].str.slice(0, 2), complete_data['state'])

In [ ]:
complete_data['official_full_name'].fillna(complete_data['name'], inplace=True)
complete_data['official_full_name'].fillna(complete_data['ballotpedia_id'], inplace=True)
complete_data['official_full_name'].fillna(complete_data['wikipedia_id'], inplace=True)
complete_data['official_full_name'].fillna(complete_data['first_name']+ ' ' + complete_data['last_name'], inplace=True)

In [ ]:
len(complete_data)

254

In [ ]:
len(complete_data.dropna(subset='gender_bio'))

254

In [ ]:
complete_data_pre = complete_data.copy()

In [ ]:
complete_data.update(bio, overwrite=False,)

In [ ]:
len(complete_data)

254

In [ ]:
complete_data.head(20)

,twitter,FullTwitter,first_name,last_name,district,party,state,name,bioguide_id,ballotpedia_id,birthday_bio,gender_bio,official_full_name,religion_bio,wikipedia_id,Rank,Minimum Net Worth,Average,Maximum Net Worth,Chamber
0,SenatorBaldwin,SenatorBaldwin,Tammy,Baldwin,NaN,D,WI,Tammy Baldwin,B001230,Tammy Baldwin,1962-02-11,F,Tammy Baldwin,Lutheran,Tammy Baldwin,220.0,"$434,008","$1,147,003","$1,859,998",Senate
1,SenJohnBarrasso,SenJohnBarrasso,John,Barrasso,NaN,R,WY,John A. Barrasso,B001261,John Barrasso,1952-07-21,M,John Barrasso,Roman Catholic,John Barrasso,61.0,"$3,533,013","$8,339,006","$13,145,000",Senate
4,RoyBlunt,RoyBlunt,Roy,Blunt,NaN,R,MO,Roy Blunt,B000575,Roy Blunt,1950-01-10,M,Roy Blunt,Baptist,Roy Blunt,95.0,"$2,599,022","$5,704,510","$8,809,999",Senate
5,CoryBooker,CoryBooker,Cory,Booker,NaN,D,NJ,Cory Booker,B001288,Cory Booker,1969-04-27,M,Cory A. Booker,NaN,Cory Booker,249.0,"$515,006","$807,503","$1,100,000",Senate
7,SenSherrodBrown,SenSherrodBrown,Sherrod,Brown,NaN,D,OH,Sherrod Brown,B000944,Sherrod Brown,1952-11-09,M,Sherrod Brown,Lutheran,Sherrod Brown,336.0,"-$163,988","$263,005","$689,998",Senate
8,SenatorCantwell,SenatorCantwell,Maria,Cantwell,NaN,D,WA,Maria Cantwell,C000127,Maria Cantwell,1958-10-13,F,Maria Cantwell,Roman Catholic,Maria Cantwell,93.0,"$1,094,022","$5,756,508","$10,418,994",Senate
9,SenCapito,SenCapito,Shelley,Capito,NaN,R,WV,Shelley Moore Capito,C001047,Shelley Moore Capito,1953-11-26,F,Shelley Moore Capito,Presbyterian,Shelley Moore Capito,169.0,"-$224,830","$2,149,080","$4,522,991",Senate
13,JohnCornyn,JohnCornyn,John,Cornyn,NaN,R,TX,John Cornyn,C001056,John Cornyn,1952-02-02,M,John Cornyn,Church of Christ,John Cornyn,178.0,"$1,074,046","$1,884,522","$2,694,999",Senate
14,SenTomCotton,SenTomCotton,Tom,Cotton,NaN,R,AR,Tom Cotton,C001095,Tom Cotton,1977-05-13,M,Tom Cotton,NaN,Tom Cotton,285.0,"$229,017","$498,008","$767,000",Senate
16,SenTedCruz,SenTedCruz,Ted,Cruz,NaN,R,TX,Ted Cruz,C001098,Ted Cruz,1970-12-22,M,Ted Cruz,NaN,Ted Cruz,139.0,"-$9,027,848","$3,198,068","$15,423,985",Senate
19,SenJoniErnst,SenJoniErnst,Joni,Ernst,NaN,R,IA,Joni K. Ernst,E000295,Thad Cochran,1970-07-01,F,Joni Ernst,Baptist,Joni Ernst,423.0,"-$783,966","-$196,984","$389,998",Senate
20,SenFeinstein,SenFeinstein,Dianne,Feinstein,NaN,D,CA,Dianne Feinstein,F000062,Dianne Feinstein,1933-06-22,F,Dianne Feinstein,Jewish,Dianne Feinstein,8.0,"$55,027,069","$87,938,540","$120,850,011",Senate
21,SenatorFischer,SenatorFischer,Deb,Fischer,NaN,R,NE,Deb Fischer,F000463,Deb Fischer,1951-03-01,F,Deb Fischer,Church of Christ,Deb Fischer,154.0,"$122,012","$2,776,005","$5,429,998",Senate
22,SenGillibrand,SenGillibrand,Kirsten,Gillibrand,NaN,D,NY,Kirsten E. Gillibrand,G000555,Kirsten Gillibrand,1966-12-09,F,Kirsten E. Gillibrand,Roman Catholic,Kirsten Gillibrand,324.0,"$162,008","$296,004","$430,000",Senate
24,MartinHeinrich,MartinHeinrich,Martin,Heinrich,NaN,D,NM,Martin T. Heinrich,H001046,Martin Heinrich,1971-10-17,M,Martin Heinrich,Southern Baptist,Martin Heinrich,323.0,"-$361,964","$309,017","$979,998",Senate
25,SenJohnHoeven,SenJohnHoeven,John,Hoeven,NaN,R,ND,John Hoeven,H001061,John Hoeven,1957-03-13,M,John Hoeven,Presbyterian,John Hoeven,15.0,"$19,263,138","$46,689,569","$74,116,000",Senate
26,SenRonJohnson,SenRonJohnson,Ron,Johnson,NaN,R,WI,Ron Johnson,J000293,Ron Johnson (Wisconsin),1955-04-08,M,Ron Johnson,Baptist,Ron Johnson (U.S. politician),20.0,"$14,101,014","$39,233,507","$64,366,000",Senate
28,SenatorLankford,SenatorLankford,James,Lankford,NaN,R,OK,James Lankford,L000575,James Lankford,1968-03-04,M,James Lankford,Roman Catholic,James Lankford,364.0,"-$159,980","$116,509","$392,999",Senate
29,SenatorLeahy,SenatorLeahy,Patrick,Leahy,NaN,D,VT,Patrick J. Leahy,L000174,Patrick Leahy,1940-03-31,M,Patrick J. Leahy,Roman Catholic,Patrick Leahy,414.0,"-$330,992","-$85,496","$159,999",Senate
30,SenMikeLee,SenMikeLee,Mike,Lee,NaN,R,UT,Mike Lee,L000577,Mike Lee,1971-06-04,M,Mike Lee,Methodist,Mike Lee (U.S. politician),298.0,"$208,010","$414,005","$620,000",Senate

In [ ]:
# drop district, ballotpedia, wikipedia, rank, FullTwitter,

In [ ]:
complete_data = complete_data.drop(["district", "ballotpedia_id", "wikipedia_id", "Rank", "FullTwitter"], axis=1)

In [ ]:
complete_data = complete_data.rename(columns={"Average":"Average Net Worth"})

In [ ]:
complete_data = complete_data.drop("name", axis=1)

KeyError: "['name'] not found in axis"

In [ ]:
complete_data.head()

,twitter,first_name,last_name,party,state,bioguide_id,birthday_bio,gender_bio,official_full_name,religion_bio,Minimum Net Worth,Average,Maximum Net Worth,Chamber
0,SenatorBaldwin,Tammy,Baldwin,D,WI,B001230,1962-02-11,F,Tammy Baldwin,Lutheran,"$434,008","$1,147,003","$1,859,998",Senate
1,SenJohnBarrasso,John,Barrasso,R,WY,B001261,1952-07-21,M,John Barrasso,Roman Catholic,"$3,533,013","$8,339,006","$13,145,000",Senate
4,RoyBlunt,Roy,Blunt,R,MO,B000575,1950-01-10,M,Roy Blunt,Baptist,"$2,599,022","$5,704,510","$8,809,999",Senate
5,CoryBooker,Cory,Booker,D,NJ,B001288,1969-04-27,M,Cory A. Booker,NaN,"$515,006","$807,503","$1,100,000",Senate
7,SenSherrodBrown,Sherrod,Brown,D,OH,B000944,1952-11-09,M,Sherrod Brown,Lutheran,"-$163,988","$263,005","$689,998",Senate

In [ ]:
len(complete_data[complete_data.notna().all(axis=1)])

115

In [ ]:
len(complete_data.dropna(subset='birthday_bio'))

254

In [ ]:
complete_data.to_csv('/content/drive/MyDrive/FACT/full_dataset.csv')

In [ ]:
# education, fill religion, race, sexuality

# Add Education

In [ ]:
# https://www.kaggle.com/datasets/philmohun/complete-education-details-116th-us-congress

In [ ]:
education = pd.read_csv("/content/drive/MyDrive/FACT/US_Congress_Education_Data_2020.6.5.csv")

In [ ]:
education.columns

Index(['Name', 'State', 'Political Party', 'House or Senate', 'DOB',
       'Highest Level of Education', 'Speciality of Highest Degree',
       'Highest Degree School', 'First degree type',
       'Speciality of first degree', 'First Degree School', 'JD', 'PhD', 'MBA',
       'MD', 'None', 'URL', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30'],
      dtype='object')

In [ ]:
education = education.drop(['Political Party', 'House or Senate', 'DOB',
     'Speciality of Highest Degree',
     'First degree type',
       'Speciality of first degree', 'First Degree School', 'JD', 'PhD', 'MBA',
       'MD', 'None', 'URL', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30'], axis=1)

In [ ]:
education = education.rename(columns={'Name':"official_full_name"})

In [ ]:
education.head()

,official_full_name,State,Highest Level of Education,Highest Degree School
0,Doug Jones,Alabama,J.D.,Samford University
1,Richard Shelby,Alabama,J.D.,Birmingham Law School
2,Dan Sullivan,Alaska,J.D.,Georgetown University
3,Lisa Murkowski,Alaska,J.D.,Willamette University
4,Kyrsten Sinema,Arizona,"MSW, JD, PhD, MBA",Arizona State University

In [ ]:
more_info = pd.merge(complete_data, education, on="official_full_name", how="left")

In [ ]:
len(more_info.dropna(subset='bioguide_id'))

254

In [ ]:
# Define a regular expression pattern to match names with optional middle initials and suffixes
name_pattern = r'^(\S+)\s(?:\S+\s)?(\S+)$'

# Use the regular expression pattern to extract first and last names
education[['first_name', 'last_name']] = education["official_full_name"].str.extract(name_pattern)

In [ ]:
more_info.update(education, overwrite=False)

In [ ]:
more_info.head(20)

,twitter,first_name,last_name,party,state,bioguide_id,birthday_bio,gender_bio,official_full_name,religion_bio,Minimum Net Worth,Average Net Worth,Maximum Net Worth,Chamber,State,Highest Level of Education,Highest Degree School
0,SenatorBaldwin,Tammy,Baldwin,D,WI,B001230,1962-02-11,F,Tammy Baldwin,Lutheran,"$434,008","$1,147,003","$1,859,998",Senate,Wisconsin,J.D.,University of WisconsinMadison
1,SenJohnBarrasso,John,Barrasso,R,WY,B001261,1952-07-21,M,John Barrasso,Roman Catholic,"$3,533,013","$8,339,006","$13,145,000",Senate,Wyoming,MD,Georgetown University
2,RoyBlunt,Roy,Blunt,R,MO,B000575,1950-01-10,M,Roy Blunt,Baptist,"$2,599,022","$5,704,510","$8,809,999",Senate,Missouri,MA,Missouri State University
3,CoryBooker,Cory,Booker,D,NJ,B001288,1969-04-27,M,Cory A. Booker,NaN,"$515,006","$807,503","$1,100,000",Senate,Alaska,J.D.,Willamette University
4,SenSherrodBrown,Sherrod,Brown,D,OH,B000944,1952-11-09,M,Sherrod Brown,Lutheran,"-$163,988","$263,005","$689,998",Senate,Ohio,"(MA, MPA)",Ohio State University
5,SenatorCantwell,Maria,Cantwell,D,WA,C000127,1958-10-13,F,Maria Cantwell,Roman Catholic,"$1,094,022","$5,756,508","$10,418,994",Senate,Washington,BA,Miami University
6,SenCapito,Shelley,Capito,R,WV,C001047,1953-11-26,F,Shelley Moore Capito,Presbyterian,"-$224,830","$2,149,080","$4,522,991",Senate,West Virginia,MEd,University of Virginia
7,JohnCornyn,John,Cornyn,R,TX,C001056,1952-02-02,M,John Cornyn,Church of Christ,"$1,074,046","$1,884,522","$2,694,999",Senate,Texas,LLM,University of Virginia
8,SenTomCotton,Tom,Cotton,R,AR,C001095,1977-05-13,M,Tom Cotton,NaN,"$229,017","$498,008","$767,000",Senate,Arkansas,J.D.,Claremont Graduate University
9,SenTedCruz,Ted,Cruz,R,TX,C001098,1970-12-22,M,Ted Cruz,NaN,"-$9,027,848","$3,198,068","$15,423,985",Senate,Texas,J.D.,Harvard University
10,SenJoniErnst,Joni,Ernst,R,IA,E000295,1970-07-01,F,Joni Ernst,Baptist,"-$783,966","-$196,984","$389,998",Senate,Iowa,MPA,Columbus State University
11,SenFeinstein,Dianne,Feinstein,D,CA,F000062,1933-06-22,F,Dianne Feinstein,Jewish,"$55,027,069","$87,938,540","$120,850,011",Senate,California,BA,Stanford University
12,SenatorFischer,Deb,Fischer,R,NE,F000463,1951-03-01,F,Deb Fischer,Church of Christ,"$122,012","$2,776,005","$5,429,998",Senate,Nebraska,BS,University of NebraskaLincoln
13,SenGillibrand,Kirsten,Gillibrand,D,NY,G000555,1966-12-09,F,Kirsten E. Gillibrand,Roman Catholic,"$162,008","$296,004","$430,000",Senate,Connecticut,J.D.,Yale University
14,MartinHeinrich,Martin,Heinrich,D,NM,H001046,1971-10-17,M,Martin Heinrich,Southern Baptist,"-$361,964","$309,017","$979,998",Senate,New Mexico,BS,University of Missouri
15,SenJohnHoeven,John,Hoeven,R,ND,H001061,1957-03-13,M,John Hoeven,Presbyterian,"$19,263,138","$46,689,569","$74,116,000",Senate,North Dakota,MBA,Northwestern University
16,SenRonJohnson,Ron,Johnson,R,WI,J000293,1955-04-08,M,Ron Johnson,Baptist,"$14,101,014","$39,233,507","$64,366,000",Senate,Wisconsin,BS,University of Minnesota
17,SenatorLankford,James,Lankford,R,OK,L000575,1968-03-04,M,James Lankford,Roman Catholic,"-$159,980","$116,509","$392,999",Senate,Oklahoma,(MDiv),Southwestern Baptist Theological Seminary
18,SenatorLeahy,Patrick,Leahy,D,VT,L000174,1940-03-31,M,Patrick J. Leahy,Roman Catholic,"-$330,992","-$85,496","$159,999",Senate,Georgia,MS,Georgia Institute of Technology
19,SenMikeLee,Mike,Lee,R,UT,L000577,1971-06-04,M,Mike Lee,Methodist,"$208,010","$414,005","$620,000",Senate,Utah,J.D.,Brigham Young University

In [ ]:
more_info = more_info.drop("state", axis=1)

In [ ]:
more_info.to_csv("/content/drive/MyDrive/FACT/final_with_Ed.csv")

In [ ]:
more_info.columns

Index(['twitter', 'first_name', 'last_name', 'party', 'bioguide_id',
       'birthday_bio', 'gender_bio', 'official_full_name', 'religion_bio',
       'Minimum Net Worth', 'Average Net Worth', 'Maximum Net Worth',
       'Chamber', 'State', 'Highest Level of Education',
       'Highest Degree School'],
      dtype='object')

# Processing

In [ ]:
order = ['bioguide_id', 'official_full_name', 'first_name', 'last_name', 'party', 'birthday_bio', 'gender_bio', 'religion_bio','Average Net Worth', 'Chamber', 'State', 'Highest Level of Education',
       'Highest Degree School']

In [ ]:
ordered = more_info[order]

In [ ]:
ordered.head()

,bioguide_id,official_full_name,first_name,last_name,party,birthday_bio,gender_bio,religion_bio,Average Net Worth,Chamber,State,Highest Level of Education,Highest Degree School
0,B001230,Tammy Baldwin,Tammy,Baldwin,D,1962-02-11,F,Lutheran,"$1,147,003",Senate,Wisconsin,J.D.,University of WisconsinMadison
1,B001261,John Barrasso,John,Barrasso,R,1952-07-21,M,Roman Catholic,"$8,339,006",Senate,Wyoming,MD,Georgetown University
2,B000575,Roy Blunt,Roy,Blunt,R,1950-01-10,M,Baptist,"$5,704,510",Senate,Missouri,MA,Missouri State University
3,B001288,Cory A. Booker,Cory,Booker,D,1969-04-27,M,NaN,"$807,503",Senate,Alaska,J.D.,Willamette University
4,B000944,Sherrod Brown,Sherrod,Brown,D,1952-11-09,M,Lutheran,"$263,005",Senate,Ohio,"(MA, MPA)",Ohio State University

In [ ]:
# Remove the '$' symbol from the 'money_column'
ordered['Average Net Worth'] = ordered['Average Net Worth'].str.replace('$', '').str.replace(',', '')

# Convert the column to a numeric type (e.g., float) if needed
ordered['Average Net Worth'] = pd.to_numeric(ordered['Average Net Worth'])

<ipython-input-410-4f614a821057>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  ordered['Average Net Worth'] = ordered['Average Net Worth'].str.replace('$', '').str.replace(',', '')
<ipython-input-410-4f614a821057>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ordered['Average Net Worth'] = ordered['Average Net Worth'].str.replace('$', '').str.replace(',', '')
<ipython-input-410-4f614a821057>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ordered['Average Net Worth'] = pd.to_numeric(ordered['Average Net Worth'])

In [ ]:
average_net_worth = ordered['Average Net Worth'].mean()

In [ ]:
print(average_net_worth)

6007207.75984252

In [ ]:

# Define a buffer range (10% of the average)
buffer_range = 0.1 * average_net_worth
# 1 if above the average with a 10 pecent buffer -1 if below net wroth average of congress and 0 if around the same within 10 percent
# Create a new column 'value_assignment' based on conditions
# average of average net worth of these congress members is 6007207.75984252
ordered['class_net_worth'] = pd.cut(ordered['Average Net Worth'],
                                bins=[float('-inf'), average_net_worth - buffer_range, average_net_worth + buffer_range, float('inf')],
                                labels=[-1, 0, 1],
                                include_lowest=True)

# Convert the 'value_assignment' column to integer type
ordered['class_net_worth'] = ordered['class_net_worth'].astype(int)

<ipython-input-413-aec0beae92ff>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ordered['class_net_worth'] = pd.cut(ordered['Average Net Worth'],
<ipython-input-413-aec0beae92ff>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ordered['class_net_worth'] = ordered['class_net_worth'].astype(int)

In [ ]:
ordered.head(20)

,bioguide_id,official_full_name,first_name,last_name,party,birthday_bio,gender_bio,religion_bio,Average Net Worth,Chamber,State,Highest Level of Education,Highest Degree School,class_net_worth
0,B001230,Tammy Baldwin,Tammy,Baldwin,D,1962-02-11,F,Lutheran,1147003,Senate,Wisconsin,J.D.,University of WisconsinMadison,-1
1,B001261,John Barrasso,John,Barrasso,R,1952-07-21,M,Roman Catholic,8339006,Senate,Wyoming,MD,Georgetown University,1
2,B000575,Roy Blunt,Roy,Blunt,R,1950-01-10,M,Baptist,5704510,Senate,Missouri,MA,Missouri State University,0
3,B001288,Cory A. Booker,Cory,Booker,D,1969-04-27,M,NaN,807503,Senate,Alaska,J.D.,Willamette University,-1
4,B000944,Sherrod Brown,Sherrod,Brown,D,1952-11-09,M,Lutheran,263005,Senate,Ohio,"(MA, MPA)",Ohio State University,-1
5,C000127,Maria Cantwell,Maria,Cantwell,D,1958-10-13,F,Roman Catholic,5756508,Senate,Washington,BA,Miami University,0
6,C001047,Shelley Moore Capito,Shelley,Capito,R,1953-11-26,F,Presbyterian,2149080,Senate,West Virginia,MEd,University of Virginia,-1
7,C001056,John Cornyn,John,Cornyn,R,1952-02-02,M,Church of Christ,1884522,Senate,Texas,LLM,University of Virginia,-1
8,C001095,Tom Cotton,Tom,Cotton,R,1977-05-13,M,NaN,498008,Senate,Arkansas,J.D.,Claremont Graduate University,-1
9,C001098,Ted Cruz,Ted,Cruz,R,1970-12-22,M,NaN,3198068,Senate,Texas,J.D.,Harvard University,-1
10,E000295,Joni Ernst,Joni,Ernst,R,1970-07-01,F,Baptist,-196984,Senate,Iowa,MPA,Columbus State University,-1
11,F000062,Dianne Feinstein,Dianne,Feinstein,D,1933-06-22,F,Jewish,87938540,Senate,California,BA,Stanford University,1
12,F000463,Deb Fischer,Deb,Fischer,R,1951-03-01,F,Church of Christ,2776005,Senate,Nebraska,BS,University of NebraskaLincoln,-1
13,G000555,Kirsten E. Gillibrand,Kirsten,Gillibrand,D,1966-12-09,F,Roman Catholic,296004,Senate,Connecticut,J.D.,Yale University,-1
14,H001046,Martin Heinrich,Martin,Heinrich,D,1971-10-17,M,Southern Baptist,309017,Senate,New Mexico,BS,University of Missouri,-1
15,H001061,John Hoeven,John,Hoeven,R,1957-03-13,M,Presbyterian,46689569,Senate,North Dakota,MBA,Northwestern University,1
16,J000293,Ron Johnson,Ron,Johnson,R,1955-04-08,M,Baptist,39233507,Senate,Wisconsin,BS,University of Minnesota,1
17,L000575,James Lankford,James,Lankford,R,1968-03-04,M,Roman Catholic,116509,Senate,Oklahoma,(MDiv),Southwestern Baptist Theological Seminary,-1
18,L000174,Patrick J. Leahy,Patrick,Leahy,D,1940-03-31,M,Roman Catholic,-85496,Senate,Georgia,MS,Georgia Institute of Technology,-1
19,L000577,Mike Lee,Mike,Lee,R,1971-06-04,M,Methodist,414005,Senate,Utah,J.D.,Brigham Young University,-1

In [ ]:
ordered["feat_party"] = np.where(ordered['party'] == 'D', 1, 0) #Party as a feature republican 0 democrat 1

In [ ]:
ordered.head()

,bioguide_id,official_full_name,first_name,last_name,party,birthday_bio,gender_bio,religion_bio,Average Net Worth,Chamber,State,Highest Level of Education,Highest Degree School,class_net_worth,feat_party,age,gender_feat,chamber_feat
0,B001230,Tammy Baldwin,Tammy,Baldwin,D,1962-02-11,F,Lutheran,1147003,Senate,Wisconsin,J.D.,University of WisconsinMadison,-1,1,61.0,1,0
1,B001261,John Barrasso,John,Barrasso,R,1952-07-21,M,Roman Catholic,8339006,Senate,Wyoming,MD,Georgetown University,1,0,71.0,0,0
2,B000575,Roy Blunt,Roy,Blunt,R,1950-01-10,M,Baptist,5704510,Senate,Missouri,MA,Missouri State University,0,0,74.0,0,0
3,B001288,Cory A. Booker,Cory,Booker,D,1969-04-27,M,NaN,807503,Senate,Alaska,J.D.,Willamette University,-1,1,54.0,0,0
4,B000944,Sherrod Brown,Sherrod,Brown,D,1952-11-09,M,Lutheran,263005,Senate,Ohio,"(MA, MPA)",Ohio State University,-1,1,71.0,0,0

In [ ]:
from datetime import datetime
# Convert the 'birthday_column' to datetime objects
ordered['birthday_bio'] = pd.to_datetime(ordered['birthday_bio'])

# Calculate the current date
current_date = datetime.now()

# Calculate the age by subtracting the birthdate from the current date and extracting years
ordered['age'] = (current_date - ordered['birthday_bio']).astype('<m8[Y]')

<ipython-input-418-bfb845304d63>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ordered['birthday_bio'] = pd.to_datetime(ordered['birthday_bio'])

In [ ]:
ordered.head()

,bioguide_id,official_full_name,first_name,last_name,party,birthday_bio,gender_bio,religion_bio,Average Net Worth,Chamber,State,Highest Level of Education,Highest Degree School,class_net_worth,feat_party,age
0,B001230,Tammy Baldwin,Tammy,Baldwin,D,1962-02-11,F,Lutheran,1147003,Senate,Wisconsin,J.D.,University of WisconsinMadison,-1,0,61.0
1,B001261,John Barrasso,John,Barrasso,R,1952-07-21,M,Roman Catholic,8339006,Senate,Wyoming,MD,Georgetown University,1,1,71.0
2,B000575,Roy Blunt,Roy,Blunt,R,1950-01-10,M,Baptist,5704510,Senate,Missouri,MA,Missouri State University,0,1,74.0
3,B001288,Cory A. Booker,Cory,Booker,D,1969-04-27,M,NaN,807503,Senate,Alaska,J.D.,Willamette University,-1,0,54.0
4,B000944,Sherrod Brown,Sherrod,Brown,D,1952-11-09,M,Lutheran,263005,Senate,Ohio,"(MA, MPA)",Ohio State University,-1,0,71.0

In [ ]:
ordered["gender_feat"] = np.where(ordered['gender_bio'] == 'M', 0, 1) #0 if man and 1 if female (or other)

In [ ]:
ordered["chamber_feat"] = np.where(ordered['Chamber'] == 'Senate', 0, 1) # 0 if in Senate, 1 if house of rep

In [ ]:
# Get all unique values from the 'column_name'
unique_values = ordered['religion_bio'].unique()


Christianity: Group Protestant denominations (including unspecified Protestants, Baptists, Methodists, Presbyterians, Lutherans, and others), Catholics (both Roman and Latin Catholics), Orthodox Christians (including Greek and Eastern Orthodox), and non-denominational Protestants under this umbrella.
Judaism: Keep as a separate category.
Islam: Group Sunni Muslims and unspecified Muslims together.
Unitarian Universalist, Hinduism, Buddhism, and Other: Include specific religions and those identifying as secular, agnostic, or with another specified non-Christian faith.
Unspecified or Unknown: For those who have not stated their religious beliefs or are listed as unknown.

In [ ]:
print(unique_values)

['Lutheran' 'Roman Catholic' 'Baptist' nan 'Presbyterian'
 'Church of Christ' 'Jewish' 'Southern Baptist' 'Methodist'
 'United Methodist' 'Latter Day Saints' 'Catholic' 'Protestant'
 'Episcopalian' 'Christian' 'Unknown' 'African Methodist Episcopal'
 'Nazarene' 'Seventh Day Adventist']

In [ ]:
ordered['Highest Level of Education'].unique()

array(['J.D.', 'MD', 'MA', ' (MA, MPA)', 'BA', 'MEd', 'LLM', 'MPA', 'BS',
       'MBA', '(MDiv)', 'MS', 'PhD', 'MSS', 'MSW', '(DDS)', 'AAS',
       'MA,\xa0PhD', 'Drop Out', ' (MPA)', ' MPA', '(BS, DVM)', 'MPP',
       'MFA', 'MPhil', 'MDiv', 'DVM', 'JD,\xa0MBA', 'AA', 'MA, EdD',
       'ALB', 'MPP, JD', 'AB'], dtype=object)

In [ ]:
ordered['Highest Degree School'].unique()

array(['University of WisconsinMadison', 'Georgetown University ',
       'Missouri State University', 'Willamette University ',
       'Ohio State University', 'Miami University\xa0',
       'University of Virginia', 'University of Virginia ',
       'Claremont Graduate University', 'Harvard University',
       'Columbus State University ', 'Stanford University',
       'University of NebraskaLincoln', 'Yale University ',
       'University of Missouri ', 'Northwestern University ',
       'University of Minnesota',
       'Southwestern Baptist Theological Seminary ',
       'Georgia Institute of Technology', 'Brigham Young University ',
       'DePaul University ', 'Princeton University ',
       'University of Kansas', 'University of Idaho ',
       'Washington State University\xa0', 'Georgetown University\xa0',
       'Capella University', 'Charleston Southern University',
       'University of Mississippi ', 'Michigan State University',
       'Kansas State University\xa0', 'University of Providence (BA)',
       'University of South Dakota ', 'Duke University ',
       'Rutgers Law School', 'University of Virginia\xa0',
       'University of Oregon\xa0', 'University of Maryland, Baltimore',
       'Georgetown University',
       'University of Texas Health Science Center ',
       'University of Kentucky ', 'University of Southern California',
       'Wright State University ', 'University of California',
       'Dartmouth College ', 'University of Oregon ',
       'Murphysboro High School', 'University of South Dakota',
       'University of Alabama ', 'University of Wyoming',
       'University of Illinois at Chicago ',
       'University of Illinois at Springfield ',
       ' Clark County Community College ', 'Gonzaga University',
       'Florida State University ', 'Northern Kentucky University ',
       'Alliant International University', 'University of Memphis ',
       'University of Oklahoma',
       'California State University, Fresno\xa0',
       'University of Connecticut\xa0', 'Millikin University\xa0',
       'Wake Forest University (BA)', 'New York University\xa0',
       'University of Texas at Austin ', 'Clemson University ',
       'William Mitchell College of Law ',
       'Catholic University of America ',
       'Agricultural Technical Institute (AAS)',
       'Texas Wesleyan University ', 'American University',
       'Texas Southern University ', 'New York University',
       'University of WisconsinMadison ', 'Yale University',
       'University of Central Missouri ', 'University of Chicago',
       'University of North Carolina ', 'Boston College',
       'Calvin College\xa0', 'Southern Methodist University',
       'Syracuse University', 'University of Notre Dame ',
       'University of Denver ', 'Green Templeton College, Oxford',
       'Birmingham School of Law', 'John Marshall Law School, Chicago',
       'University, San Luis Obispo ', 'University of Minnesota ',
       'Central Connecticut State University', 'Chico State College ',
       'Wayland Baptist University ', 'Arizona State University, Phoenix',
       'Arizona State University, Tempe',
       'Massachusetts Institute of Technology ',
       'Arkansas State University ', 'California State University',
       'St. Catherine University ', 'Yeshiva University ',
       'Marquette University ', 'California State University, Chico ',
       'University of California, Berkeley',
       'Washington State University ', 'University of New Mexico ',
       'University of Colorado Boulder ',
       'Trinity Washington University ', 'Loyola University Chicago ',
       'University of South Carolina', 'North Carolina State University ',
       'Santa Clara University ', 'University of New Hampshire',
       'California Polytechnic State University',
       'Louisiana State University ', 'Fielding Graduate University ',
       'illionois University', 'American University ',
       'Middlebury College', 'University of Washington ',
       'Oklahoma City University ', 'University of California, Hastings ',
       'National Labor College\xa0',
       'University of California, Los Angeles', 'Clarkson University',
       'Chaffey College', 'Wheaton College, Illinois ',
       'Taylor University ', 'Ohio State University ',
       'University of California, Berkeley ',
       'Texas Christian University ', 'New York University ',
       'University of South Carolina ', 'University of Redlands ',
       'Texas Tech University ', 'National Defense University ',
       'Grace College and Seminary\xa0', 'St Edmund Hall, Oxford',
       'University of Delaware ', 'Saint Paul School of Theology ',
       'Oral Roberts University ', 'University of Florida',
       'Western Kentucky University ',
       'University of California, Los Angeles\xa0',
       'Virginia Military Institute ', 'Brevard Community College ',
       'George Washington University ', 'Queens College',
       'Tennessee Technological University', 'La Salle University',
       'Pennsylvania State University',
       'University of North Carolina at Greensboro ',
       'College of William and Mary ',
       'University of Arkansas at Little Rock ',
       'Louisiana State University', 'Northwestern University',
       'University of South Florida', 'Lincoln University, Missouri ',
       'Emory University', 'University of Georgia',
       'Texas Southmost College', 'Presbyterian College ',
       'College of the Atlantic', "Atlanta's John Marshall Law School ",
       'University of Pennsylvania ', 'Franklin and Marshall College',
       'George Washington University', 'Arkansas Tech University ',
       'Duke University', 'University of Miami ',
       'University of Maryland', 'Indiana University, Indianapolis',
       'University of Illinois at UrbanaChampaign',
       'University of Northern Iowa', 'Oklahoma State University ',
       'University of Michigan '], dtype=object)

In [ ]:
# ivy league or non ive league university. private or public, state or non state, community or non community

In [ ]:
import re

# Assuming `df` is your DataFrame and 'highest_education_degree' is the column containing education degrees

# # Step 1: Remove special characters and spaces
# ordered['Highest Level of Education'] = ordered['Highest Level of Education'].apply(lambda x: re.sub(r'[^\w\s]', '', x))

# # Step 2: Split multiple degrees into separate degrees
# ordered['Highest Level of Education'] = ordered['Highest Level of Education'].str.split(',')

# Step 3: Flatten the list of degrees into separate rows
df = ordered.explode('Highest Level of Education')
# Split the 'Degree' column by spaces into lists
df['Highest Level of Education'] = df['Highest Level of Education'].str.split(' ')

# Explode the 'Degree' lists into separate rows
df_exploded = df.explode('Highest Level of Education')

# One-hot encode the 'highest_education_degree' column
one_hot_encoded = pd.get_dummies(df_exploded, columns=['Highest Level of Education'], prefix='', prefix_sep='')

In [ ]:
print(one_hot_encoded.columns
      )

Index(['bioguide_id', 'official_full_name', 'first_name', 'last_name', 'party',
       'birthday_bio', 'gender_bio', 'religion_bio', 'Average Net Worth',
       'Chamber', 'State', 'Highest Degree School', 'class_net_worth',
       'feat_party', 'age', 'gender_feat', 'chamber_feat', '', 'AA', 'AAS',
       'AB', 'ALB', 'BA', 'BS', 'DDS', 'DVM', 'Drop', 'EdD', 'JD', 'JDMBA',
       'LLM', 'MA', 'MAPhD', 'MBA', 'MD', 'MDiv', 'MEd', 'MFA', 'MPA', 'MPP',
       'MPhil', 'MS', 'MSS', 'MSW', 'Out', 'PhD'],
      dtype='object')

In [ ]:
one_hot_encoded = one_hot_encoded.drop(['party',
       'birthday_bio', 'gender_bio', 'Highest Degree School'])

In [ ]:
universities = one_hot_encoded['Highest Degree School'].unique()

In [ ]:
# Initialize lists to categorize universities
community_colleges = []
state_universities = []
ivy_league = []
tech_schools = []

# Define keywords and Ivy League universities
tech_school_keys = ['Tech', 'Technology']
community_college_keywords = ['Community College', 'College']
ivy_league_universities = ['Brown University', 'Columbia University',
'Cornell University', 'Dartmouth College', 'Harvard University', 'Princeton University',
                           'University of Pennsylvania', 'Yale University']  # Complete the list

# Iterate through the universities and categorize them
for university in universities:
    # Check for community colleges
    if any(keyword in university for keyword in community_college_keywords):
        community_colleges.append(university)
    #check for tech universities
    if any(keyword in university for keyword in tech_school_keys):
        tech_schools.append(university)
    # Check for state universities
    elif 'University of ' in university:
        state_universities.append(university)
    elif 'State' in university:
        state_universities.append(university)
    # Check for Ivy League universities
    elif university in ivy_league_universities:
        ivy_league.append(university)


# Print the categorized lists
print("Community Colleges:", community_colleges)
print("State Universities:", state_universities)
print("Ivy League:", ivy_league)

Community Colleges: ['Dartmouth College ', ' Clark County Community College ', 'William Mitchell College of Law ', 'Boston College', 'Calvin College\xa0', 'Green Templeton College, Oxford', 'Chico State College ', 'Middlebury College', 'National Labor College\xa0', 'Chaffey College', 'Wheaton College, Illinois ', 'Grace College and Seminary\xa0', 'Brevard Community College ', 'Queens College', 'College of William and Mary ', 'Texas Southmost College', 'Presbyterian College ', 'College of the Atlantic', 'Franklin and Marshall College']
State Universities: ['University of WisconsinMadison', 'Missouri State University', 'Ohio State University', 'University of Virginia', 'University of Virginia ', 'Columbus State University ', 'University of NebraskaLincoln', 'University of Missouri ', 'University of Minnesota', 'University of Kansas', 'University of Idaho ', 'Washington State University\xa0', 'University of Mississippi ', 'Michigan State University', 'Kansas State University\xa0', 'University of Providence (BA)', 'University of South Dakota ', 'University of Virginia\xa0', 'University of Oregon\xa0', 'University of Maryland, Baltimore', 'University of Texas Health Science Center ', 'University of Kentucky ', 'University of Southern California', 'Wright State University ', 'University of California', 'University of Oregon ', 'University of South Dakota', 'University of Alabama ', 'University of Wyoming', 'University of Illinois at Chicago ', 'University of Illinois at Springfield ', 'Florida State University ', 'University of Memphis ', 'University of Oklahoma', 'California State University, Fresno\xa0', 'University of Connecticut\xa0', 'University of Texas at Austin ', 'Catholic University of America ', 'University of WisconsinMadison ', 'University of Central Missouri ', 'University of Chicago', 'University of North Carolina ', 'University of Notre Dame ', 'University of Denver ', 'University of Minnesota ', 'Central Connecticut State University', 'Chico State College ', 'Arizona State University, Phoenix', 'Arizona State University, Tempe', 'Arkansas State University ', 'California State University', 'California State University, Chico ', 'University of California, Berkeley', 'Washington State University ', 'University of New Mexico ', 'University of Colorado Boulder ', 'University of South Carolina', 'North Carolina State University ', 'University of New Hampshire', 'California Polytechnic State University', 'Louisiana State University ', 'University of Washington ', 'University of California, Hastings ', 'University of California, Los Angeles', 'Ohio State University ', 'University of California, Berkeley ', 'University of South Carolina ', 'University of Redlands ', 'University of Delaware ', 'University of Florida', 'University of California, Los Angeles\xa0', 'Pennsylvania State University', 'University of North Carolina at Greensboro ', 'University of Arkansas at Little Rock ', 'Louisiana State University', 'University of South Florida', 'University of Georgia', 'University of Pennsylvania ', 'University of Miami ', 'University of Maryland', 'University of Illinois at UrbanaChampaign', 'University of Northern Iowa', 'Oklahoma State University ', 'University of Michigan ']
Ivy League: ['Harvard University', 'Yale University']

In [ ]:
one_hot_encoded['Highest Degree School'] = one_hot_encoded['Highest Degree School'].str.replace('\xa0', '', regex=False)

# Create a new column 'Tech School Grad' with values 1 if the university is in tech_schools, else 0
one_hot_encoded['Tech School Grad'] = one_hot_encoded['Highest Degree School'].isin(tech_schools).astype(int)

In [ ]:
one_hot_encoded["Ivy League Grad"] = one_hot_encoded['Highest Degree School'].isin(ivy_league).astype(int)

In [ ]:
one_hot_encoded["State University Grad"] = one_hot_encoded['Highest Degree School'].isin(state_universities).astype(int)

In [ ]:
one_hot_encoded["Community College Grad"] = one_hot_encoded['Highest Degree School'].isin(community_colleges).astype(int)

In [ ]:
import gensim.downloader as api
# Load pre-trained word vectors
word_vectors = api.load("glove-wiki-gigaword-100")  # Example: GloVe model

def get_name_vector(name, model):
    # Assuming names are single words for simplicity; adjust as needed
    name = name.lower()
    try:
        return model[name]
    except KeyError:
        # Return a zero vector if the name isn't found
        return np.zeros(model.vector_size)

# Apply the function to each name in your DataFrame
one_hot_encoded['first_name_vector'] = one_hot_encoded['first_name'].apply(lambda name: get_name_vector(name, word_vectors))
one_hot_encoded['last_name_vector'] = one_hot_encoded['last_name'].apply(lambda name: get_name_vector(name, word_vectors))

In [ ]:
def letter_to_number(letter):
    return ord(letter.upper()) - ord('A') + 1

In [ ]:
# Define a dictionary to map letters to numbers
letter_to_number = {'A': '1', 'B': '2', 'C': '3', 'D': '4', 'E': '5', 'F': '6', 'G': '7', 'H': '8', 'I': '9'}

# Define a function to replace letters with numbers in a single string
def replace_letters_with_numbers(text):
    result = []
    for char in text:
        if char.isalpha() and char.upper() in letter_to_number:
            result.append(letter_to_number[char.upper()])
        else:
            result.append(char)
    return ''.join(result)

# Apply the function to the specified column
one_hot_encoded["numerical_bioguide_id"] = one_hot_encoded['bioguide_id'].apply(replace_letters_with_numbers)

In [ ]:
one_hot_encoded.head()

,bioguide_id,official_full_name,first_name,last_name,party,birthday_bio,gender_bio,religion_bio,Average Net Worth,Chamber,...,MSW,Out,PhD,Tech School Grad,Ivy League Grad,State University Grad,Community College Grad,first_name_vector,last_name_vector,numerical_bioguide_id
0,B001230,Tammy Baldwin,Tammy,Baldwin,D,1962-02-11,F,Lutheran,1147003,Senate,...,0,0,0,0,0,1,0,"[0.39002, -0.086435, 0.19347, -1.3819, 0.14397...","[-0.031876, -0.46257, -0.087529, -0.097003, -0...",2001230
1,B001261,John Barrasso,John,Barrasso,R,1952-07-21,M,Roman Catholic,8339006,Senate,...,0,0,0,0,0,0,0,"[-0.27474, 0.48681, -0.071722, -0.81912, 0.117...","[-0.6777, -0.14965, 0.69941, -0.34, -0.50151, ...",2001261
2,B000575,Roy Blunt,Roy,Blunt,R,1950-01-10,M,Baptist,5704510,Senate,...,0,0,0,0,0,1,0,"[0.029023, -0.5764, -0.28757, -0.8396, 0.27649...","[-0.92648, -0.10372, 0.15253, -0.28666, -0.034...",2000575
3,B001288,Cory A. Booker,Cory,Booker,D,1969-04-27,M,NaN,807503,Senate,...,0,0,0,0,0,0,0,"[0.3675, -0.29254, -0.013225, -1.373, -0.61472...","[0.85574, -0.044195, -0.06766, -0.83961, 0.610...",2001288
4,B000944,Sherrod Brown,Sherrod,Brown,D,1952-11-09,M,Lutheran,263005,Senate,...,0,0,0,0,0,1,0,"[-0.6994, -0.020594, -0.52291, -0.8348, -0.142...","[-0.43812, -0.099389, -0.26038, -1.1084, 0.105...",2000944

In [ ]:
one_hot_encoded["religion_bio"] = more_info["religion_bio"]

In [ ]:
# Access the row where a specific column has a certain value
no_religion_names = []
religions_found = []
names = [
    "Tammy Duckworth",
    "Brian Babin",
    "Andy Barr",
    "Larry Bucshon",
    "Buddy Carter",
    "Raul Ruiz"
]
religions = [
    "Deist (Acknowledged as, sometimes)",
    "Baptist",
    "Episcopal",
    "Lutheran",
    "Methodist",
    "Seventh-day Adventist"]

for i, name in enumerate(no_religion_names):
  row_to_change = more_info.loc[more_info['official_full_name'] == name]
  row_to_change.loc[:, 'religion_bio'] = religions_found[i]

more_info.to_csv("/content/drive/MyDrive/FACT/full_with_ed.csv")

In [ ]:
one_hot_encoded.head()

,bioguide_id,official_full_name,first_name,last_name,party,birthday_bio,gender_bio,Average Net Worth,Chamber,State,...,PhD,Tech School Grad,Ivy League Grad,State University Grad,Community College Grad,first_name_vector,last_name_vector,numerical_bioguide_id,religion_grouped,religion_bio
0,B001230,Tammy Baldwin,Tammy,Baldwin,D,1962-02-11,F,1147003,Senate,Wisconsin,...,0,0,0,1,0,"[0.39002, -0.086435, 0.19347, -1.3819, 0.14397...","[-0.031876, -0.46257, -0.087529, -0.097003, -0...",2001230,Christian,Lutheran
1,B001261,John Barrasso,John,Barrasso,R,1952-07-21,M,8339006,Senate,Wyoming,...,0,0,0,0,0,"[-0.27474, 0.48681, -0.071722, -0.81912, 0.117...","[-0.6777, -0.14965, 0.69941, -0.34, -0.50151, ...",2001261,Christian,Roman Catholic
2,B000575,Roy Blunt,Roy,Blunt,R,1950-01-10,M,5704510,Senate,Missouri,...,0,0,0,1,0,"[0.029023, -0.5764, -0.28757, -0.8396, 0.27649...","[-0.92648, -0.10372, 0.15253, -0.28666, -0.034...",2000575,Christian,Baptist
3,B001288,Cory A. Booker,Cory,Booker,D,1969-04-27,M,807503,Senate,Alaska,...,0,0,0,0,0,"[0.3675, -0.29254, -0.013225, -1.373, -0.61472...","[0.85574, -0.044195, -0.06766, -0.83961, 0.610...",2001288,Other/Unkown,NaN
4,B000944,Sherrod Brown,Sherrod,Brown,D,1952-11-09,M,263005,Senate,Ohio,...,0,0,0,1,0,"[-0.6994, -0.020594, -0.52291, -0.8348, -0.142...","[-0.43812, -0.099389, -0.26038, -1.1084, 0.105...",2000944,Christian,Lutheran

In [ ]:
one_hot_encoded["religion_bio"].unique()

array(['Lutheran', 'Roman Catholic', 'Baptist', nan, 'Presbyterian',
       'Church of Christ', 'Jewish', 'Southern Baptist', 'Methodist',
       'United Methodist', 'Latter Day Saints', 'Catholic', 'Protestant',
       'Episcopalian', 'Christian', 'Unknown',
       'African Methodist Episcopal', 'Nazarene', 'Seventh Day Adventist'],
      dtype=object)

In [ ]:
#Grouping religion -> this is an educated guess


christianity_group = ['Roman Catholic', 'Catholic', 'Baptist', 'Methodist', 'Presbyterian', 'Lutheran', 'Episcopalian',
                    'Southern Baptist', 'United Methodist', 'Protestant',
    'Baptist', 'Methodist', 'Presbyterian', 'Episcopalian', 'Lutheran',
    'Southern Baptist', 'United Methodist', 'Protestant', 'Christian', 'Nazarene', 'Church of Christ'
]
jewish_group = ['Jewish']

# Function to apply the grouping
def group_religions(religion):
    if religion in christianity_group:
      return 'Christian'
    elif religion in jewish_group:
        return 'Jewish'
    elif pd.isna(religion):
      return "Unkown"
    elif religion == "Unkown":
      return "Unkown"
    else:
        return 'Other'

# Apply the grouping function
one_hot_encoded['religion_grouped'] = ordered['religion_bio'].apply(group_religions)

In [ ]:
religion_counts = one_hot_encoded['religion_grouped'].value_counts()

In [ ]:
print(religion_counts)

Unkown       125
Christian    118
Jewish        13
Other         13
Name: religion_grouped, dtype: int64

In [ ]:
one_hot_encoded.head()

,bioguide_id,official_full_name,first_name,last_name,party,birthday_bio,gender_bio,Average Net Worth,Chamber,State,...,PhD,Tech School Grad,Ivy League Grad,State University Grad,Community College Grad,first_name_vector,last_name_vector,numerical_bioguide_id,religion_grouped,religion_bio
0,B001230,Tammy Baldwin,Tammy,Baldwin,D,1962-02-11,F,1147003,Senate,Wisconsin,...,0,0,0,1,0,"[0.39002, -0.086435, 0.19347, -1.3819, 0.14397...","[-0.031876, -0.46257, -0.087529, -0.097003, -0...",2001230,Christian,Lutheran
1,B001261,John Barrasso,John,Barrasso,R,1952-07-21,M,8339006,Senate,Wyoming,...,0,0,0,0,0,"[-0.27474, 0.48681, -0.071722, -0.81912, 0.117...","[-0.6777, -0.14965, 0.69941, -0.34, -0.50151, ...",2001261,Christian,Roman Catholic
2,B000575,Roy Blunt,Roy,Blunt,R,1950-01-10,M,5704510,Senate,Missouri,...,0,0,0,1,0,"[0.029023, -0.5764, -0.28757, -0.8396, 0.27649...","[-0.92648, -0.10372, 0.15253, -0.28666, -0.034...",2000575,Christian,Baptist
3,B001288,Cory A. Booker,Cory,Booker,D,1969-04-27,M,807503,Senate,Alaska,...,0,0,0,0,0,"[0.3675, -0.29254, -0.013225, -1.373, -0.61472...","[0.85574, -0.044195, -0.06766, -0.83961, 0.610...",2001288,Unkown,NaN
4,B000944,Sherrod Brown,Sherrod,Brown,D,1952-11-09,M,263005,Senate,Ohio,...,0,0,0,1,0,"[-0.6994, -0.020594, -0.52291, -0.8348, -0.142...","[-0.43812, -0.099389, -0.26038, -1.1084, 0.105...",2000944,Christian,Lutheran

In [ ]:
def is_sensitive(religion):
    if religion == 'Jewish' or religion == 'Other':
        return 1 #Sensitive
    else:
        return 0 #Not sensitive not perfect because of varying christianities and unkown high number

# Assuming 'religion_grouped' is your column with grouped religions
one_hot_encoded['religion_sensitivity'] = one_hot_encoded['religion_grouped'].apply(is_sensitive)

In [ ]:
more_info.columns

Index(['twitter', 'first_name', 'last_name', 'party', 'bioguide_id',
       'birthday_bio', 'gender_bio', 'official_full_name', 'religion_bio',
       'Minimum Net Worth', 'Average Net Worth', 'Maximum Net Worth',
       'Chamber', 'State', 'Highest Level of Education',
       'Highest Degree School'],
      dtype='object')

In [ ]:
one_hot_encoded.columns

Index(['bioguide_id', 'official_full_name', 'first_name', 'last_name', 'party',
       'birthday_bio', 'gender_bio', 'Average Net Worth', 'Chamber', 'State',
       'Highest Degree School', 'class_net_worth', 'feat_party', 'age',
       'gender_feat', 'chamber_feat', '', 'AA', 'AAS', 'AB', 'ALB', 'BA', 'BS',
       'DDS', 'DVM', 'Drop', 'EdD', 'JD', 'JDMBA', 'LLM', 'MA', 'MAPhD',
       'MBA', 'MD', 'MDiv', 'MEd', 'MFA', 'MPA', 'MPP', 'MPhil', 'MS', 'MSS',
       'MSW', 'Out', 'PhD', 'Tech School Grad', 'Ivy League Grad',
       'State University Grad', 'Community College Grad', 'first_name_vector',
       'last_name_vector', 'numerical_bioguide_id', 'religion_grouped',
       'religion_bio', 'sensitivity', 'religion_sensitivity', 'twitter'],
      dtype='object')

In [ ]:
one_hot_encoded["twitter"] = more_info["twitter"]

In [ ]:
one_hot_encoded = one_hot_encoded.drop(['bioguide_id', 'official_full_name', 'first_name', 'last_name', 'party',
       'birthday_bio', 'gender_bio', 'Average Net Worth', 'Chamber', 'Highest Degree School','religion_bio', 'sensitivity'], axis=1)

In [ ]:
# One-hot encode the 'highest_education_degree' column
one_hot_encoded = pd.get_dummies(one_hot_encoded, columns=['State'], prefix='', prefix_sep='')

In [ ]:
one_hot_encoded = pd.get_dummies(one_hot_encoded, columns=['religion_grouped'], prefix='', prefix_sep='')

In [ ]:
one_hot_encoded.columns

Index(['class_net_worth', 'feat_party', 'age', 'gender_feat', 'chamber_feat',
       '', 'AA', 'AAS', 'AB', 'ALB', 'BA', 'BS', 'DDS', 'DVM', 'Drop', 'EdD',
       'JD', 'JDMBA', 'LLM', 'MA', 'MAPhD', 'MBA', 'MD', 'MDiv', 'MEd',
       'MFA', 'MPA', 'MPP', 'MPhil', 'MS', 'MSS', 'MSW', 'Out', 'PhD',
       'Tech School Grad', 'Ivy League Grad', 'State University Grad',
       'Community College Grad', 'first_name_vector', 'last_name_vector',
       'numerical_bioguide_id', 'religion_sensitivity', 'twitter', ' Maine',
       ' Montana', ' South Dakota', 'Alabama', 'Alaska', 'Arizona ',
       'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware',
       'Florida', 'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Nebraska',
       'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'Tennessee', 'Texas',
       'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia',
       'Wisconsin', 'Wyoming', 'Christian', 'Jewish', 'Other', 'Unkown'],
      dtype='object')

In [ ]:
columns_to_check = ['JD', 'JD MBA', 'MBA', 'MA PhD', 'MA', 'PhD']
for col in columns_to_check:
    if col in one_hot_encoded.columns:
        # If 'JD MBA' column exists, we'll add its values to both 'JD' and 'MBA' columns
        if col == 'JD MBA':
            if 'JD' in one_hot_encoded.columns and 'MBA' in one_hot_encoded.columns:
                one_hot_encoded['JD'] += one_hot_encoded['JD MBA']
                one_hot_encoded['MBA'] += one_hot_encoded['JD MBA']
        # If 'MA PhD' column exists, we'll add its values to both 'MA' and 'PhD' columns
        elif col == 'MA PhD':
            if 'MA' in one_hot_encoded.columns and 'PhD' in one_hot_encoded.columns:
                one_hot_encoded['MA'] += one_hot_encoded['MA PhD']
                one_hot_encoded['PhD'] += one_hot_encoded['MA PhD']
        # For other cases, if the column exists, you can add the check and perfor

In [ ]:
# Get a list of all column names
columns = list(one_hot_encoded.columns)

# Remove 'twitter' from the list
columns.remove('twitter')

# Insert 'twitter' at the beginning of the list
columns.insert(0, 'twitter')

# Reindex the DataFrame with the new column order
one_hot_encoded = one_hot_encoded[columns]

In [ ]:
one_hot_encoded = one_hot_encoded.drop("", axis=1)

In [ ]:
one_hot_encoded.to_csv("/content/drive/MyDrive/FACT/encoded_data.csv")

In [ ]:
len(one_hot_encoded)

269

In [ ]:
final = pd.read_csv("/content/drive/MyDrive/FACT/encoded_data.csv")

In [ ]:
final_df = final.drop_duplicates()

In [ ]:
len(ordered)

254

In [ ]:
len(final_df)

269

In [ ]:
# Count the rows that have duplicate values in 'column_name'
duplicate_count = updated_df[updated_df.duplicated(subset=['twitter'], keep=False)].shape[0]
print(duplicate_count)

0

In [ ]:
# Find the duplicate rows. This will return True for rows that are duplicates, excluding the first occurrence.
duplicate_rows = final.duplicated(subset=['twitter'], keep=False)
# Filter the DataFrame to show only the duplicate rows.
duplicates = final[duplicate_rows]

# Now you can print or inspect 'duplicates' to see what the duplicate rows are.
print(duplicates)

     Unnamed: 0          twitter  class_net_worth  feat_party   age  \
4             4  SenSherrodBrown               -1           1  71.0
5             4  SenSherrodBrown               -1           1  71.0
6             4  SenSherrodBrown               -1           1  71.0
71           69          MarioDB               -1           0  62.0
72           69          MarioDB               -1           0  62.0
73           69          MarioDB               -1           0  62.0
86           82  RepGarretGraves               -1           0  51.0
87           82  RepGarretGraves               -1           0  51.0
100          95           RepEBJ               -1           1  88.0
101          95           RepEBJ               -1           1  88.0
117         111        USRepLong               -1           0  68.0
118         111        USRepLong               -1           0  68.0
133         126   RepJerryNadler               -1           1  76.0
134         126   RepJerryNadler               -1           1  76.0
154         146      RepSchrader                1           1  72.0
155         146      RepSchrader                1           1  72.0
170         161      RepThompson                0           1  73.0
171         161      RepThompson                0           1  73.0
191         181     RepBalderson               -1           0  70.0
192         181     RepBalderson               -1           0  70.0
213         202     virginiafoxx               -1           0  65.0
214         202     virginiafoxx               -1           0  65.0
231         219  gracenapolitano               -1           1  51.0
232         219  gracenapolitano               -1           1  51.0
243         230       RepSmucker               -1           0  72.0
244         230       RepSmucker               -1           0  72.0
260         246      SenJackReed               -1           1  74.0
261         246      SenJackReed               -1           1  74.0

     gender_feat  chamber_feat  AA  AAS  AB  ...  Vermont  Virginia  \
4              0             0   0    0   0  ...        0         0
5              0             0   0    0   0  ...        0         0
6              0             0   0    0   0  ...        0         0
71             0             1   0    0   0  ...        0         0
72             0             1   0    0   0  ...        0         0
73             0             1   0    0   0  ...        0         0
86             0             1   0    0   0  ...        0         0
87             0             1   0    0   0  ...        0         0
100            1             1   0    0   0  ...        0         0
101            1             1   0    0   0  ...        0         0
117            0             1   0    0   0  ...        0         0
118            0             1   0    0   0  ...        0         0
133            0             1   0    0   0  ...        0         0
134            0             1   0    0   0  ...        0         0
154            0             1   0    0   0  ...        0         0
155            0             1   0    0   0  ...        0         0
170            0             1   0    0   0  ...        0         0
171            0             1   0    0   0  ...        0         0
191            0             1   0    0   0  ...        0         0
192            0             1   0    0   0  ...        0         0
213            0             1   0    0   0  ...        0         0
214            0             1   0    0   0  ...        0         0
231            0             1   0    0   0  ...        0         0
232            0             1   0    0   0  ...        0         0
243            1             1   0    0   0  ...        0         0
244            1             1   0    0   0  ...        0         0
260            0             0   0    0   0  ...        0         0
261            0             0   0    0   0  ...        0         0

     Washington  West Virginia  Wisconsin  Wyoming  Christian  Jewish  Other  \
4             0              0          0        0          1       0      0
5             0              0          0        0          1       0      0
6             0              0          0        0          1       0      0
71            0              0          0        0          1       0      0
72            0              0          0        0          1       0      0
73            0              0          0        0          1       0      0
86            0              0          0        0          0       0      0
87            0              0          0        0          0       0      0
100           0              0          0        0          1       0      0
101           0              0          0        0          1       0      0
117           0              0          0        0          0       0      0
118           0              0          0        0          0       0      0
133           0              0          0        0          0       1      0
134           0              0          0        0          0       1      0
154           0              0          0        0          0       0      0
155           0              0          0        0          0       0      0
170           0              0          0        0          1       0      0
171           0              0          0        0          1       0      0
191           0              0          0        0          0       0      0
192           0              0          0        0          0       0      0
213           0              0          0        0          1       0      0
214           0              0          0        0          1       0      0
231           0              0          0        0          0       0      0
232           0              0          0        0          0       0      0
243           0              0          0        0          0       0      0
244           0              0          0        0          0       0      0
260           0              0          0        0          1       0      0
261           0              0          0        0          1       0      0

     Unkown
4         0
5         0
6         0
71        0
72        0
73        0
86        1
87        1
100       0
101       0
117       1
118       1
133       0
134       0
154       1
155       1
170       0
171       0
191       1
192       1
213       0
214       0
231       1
232       1
243       1
244       1
260       0
261       0

[28 rows x 97 columns]

In [ ]:
grouped = duplicates.groupby(['twitter'])

In [ ]:
# Iterate over each group to find differences
for name, group in grouped:
    print(f"Comparing duplicates for group: {name}")
    # If you want to compare all rows within the group, you can use itertools.combinations
    # For simplicity, here we just compare the first two rows as an example
    if len(group) > 1:
        differences = group.iloc[0] != group.iloc[1]
        print(group.iloc[0][differences], '\n', group.iloc[1][differences])

Comparing duplicates for group: MarioDB
MA    0
Name: 71, dtype: object
 MA    1
Name: 72, dtype: object
Comparing duplicates for group: RepBalderson
Drop    1
Out     0
Name: 191, dtype: object
 Drop    0
Out     1
Name: 192, dtype: object
Comparing duplicates for group: RepEBJ
MPA    0
Name: 100, dtype: object
 MPA    1
Name: 101, dtype: object
Comparing duplicates for group: RepGarretGraves
Drop    1
Out     0
Name: 86, dtype: object
 Drop    0
Out     1
Name: 87, dtype: object
Comparing duplicates for group: RepJerryNadler
MPA    0
Name: 133, dtype: object
 MPA    1
Name: 134, dtype: object
Comparing duplicates for group: RepSchrader
BS     1
DVM    0
Name: 154, dtype: object
 BS     0
DVM    1
Name: 155, dtype: object
Comparing duplicates for group: RepSmucker
Drop    1
Out     0
Name: 243, dtype: object
 Drop    0
Out     1
Name: 244, dtype: object
Comparing duplicates for group: RepThompson
MPA    0
Name: 170, dtype: object
 MPA    1
Name: 171, dtype: object
Comparing duplicates for group: SenJackReed
JD     0
MPP    1
Name: 260, dtype: object
 JD     1
MPP    0
Name: 261, dtype: object
Comparing duplicates for group: SenSherrodBrown
MA    0
Name: 4, dtype: object
 MA    1
Name: 5, dtype: object
Comparing duplicates for group: USRepLong
Drop    1
Out     0
Name: 117, dtype: object
 Drop    0
Out     1
Name: 118, dtype: object
Comparing duplicates for group: gracenapolitano
Drop    1
Out     0
Name: 231, dtype: object
 Drop    0
Out     1
Name: 232, dtype: object
Comparing duplicates for group: virginiafoxx
EdD    0
MA     1
Name: 213, dtype: object
 EdD    1
MA     0
Name: 214, dtype: object

<ipython-input-572-76b466cb0528>:2: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for name, group in grouped:

In [ ]:
final_df["Drop Out"] = final_df["Drop"] + final_df["Out"]

In [ ]:
final_df = final_df.drop(["Drop", "Out"], axis=1)

In [ ]:
final_df = final_df.drop_duplicates()

In [ ]:
# Assuming 'df' is your DataFrame and 'Twitter' is the column you're using to group by duplicates
# Identify the columns that represent degrees
degree_columns = ['JD', 'MBA', 'MA', 'PhD', 'BS', 'DVM', 'MPA', 'MPP', 'EdD']  # Add all degree columns here

# Group by the duplicate identifier (e.g., 'Twitter' handle or name) and apply the logic
grouped = final_df.groupby('twitter', as_index=False)  # Pass the column name directly, not in a list

# Create a DataFrame to hold the updated rows
updated_df = pd.DataFrame()

for name, group in grouped:
    # Get the max values for each degree column within the group
    max_values = group[degree_columns].max()

    # Update the degree columns for the group with the max values
    group[degree_columns] = group[degree_columns].apply(lambda x: max_values, axis=1)

    # Append the updated group to the updated DataFrame
    updated_df = updated_df.append(group)

<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)
<ipython-input-581-da59a5023ae0>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_df = updated_df.append(group)

In [ ]:
len(updated_df)

254

In [ ]:
updated_df = updated_df.drop_duplicates()

In [ ]:
updated_df.to_csv("/content/drive/MyDrive/FACT/encoded_data.csv")

# Splitting by Sensitive Attribute

In [ ]:
import pandas as pd

In [10]:
final_df = pd.read_csv("/content/drive/MyDrive/FACT/encoded_data.csv")

In [12]:
final_df.columns

Index(['twitter', 'class_net_worth', 'feat_party', 'age', 'gender_feat',
       'chamber_feat', 'AA', 'AAS', 'AB', 'ALB', 'BA', 'BS', 'DDS', 'DVM',
       'EdD', 'JD', 'JDMBA', 'LLM', 'MA', 'MAPhD', 'MBA', 'MD', 'MDiv',
       'MEd', 'MFA', 'MPA', 'MPP', 'MPhil', 'MS', 'MSS', 'MSW', 'PhD',
       'Tech School Grad', 'Ivy League Grad', 'State University Grad',
       'Community College Grad', 'first_name_vector', 'last_name_vector',
       'religion_sensitivity', ' Maine', ' Montana', ' South Dakota',
       'Alabama', 'Alaska', 'Arizona ', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Idaho', 'Illinois',
       'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
       'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
       'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Christian', 'Jewish', 'Other',
       'Unkown', 'Drop Out'],
      dtype='object')

In [13]:
final_df.to_csv("/content/drive/MyDrive/FACT/encoded_data.csv")

In [11]:
final_df = final_df.drop(['Unnamed: 0.1', 'Unnamed: 0', 'numerical_bioguide_id'], axis=1)

In [ ]:
for_religion = final_df.drop([ 'Christian', 'Jewish', 'Other', 'Unkown'], axis=1)

In [ ]:
for_religion.to_csv("/content/drive/MyDrive/FACT/encoded_data_wo_religions.csv")